<div class="bg-white border-0 shadow rounded p-3 -mt-[150px]">
    <form action="#">
        <div class="registration-form relative text-dark text-start">
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6 lg:divide-x-[1px] lg:divide-gray-200">
                <div class="filter-search-form relative">
                    <i class="uil uil-briefcase-alt absolute top-[48%] -translate-y-1/2 start-3 z-1 text-indigo-600 text-[20px]"></i>
                    <input name="name" type="text" id="job-keyword" class="form-input lg:rounded-t-sm lg:rounded-e-none lg:rounded-b-none lg:rounded-s-sm lg:outline-0 w-full filter-input-box bg-gray-50 border-0 focus:ring-0" placeholder="Mots clés">
                </div>

                <div class="filter-search-form relative">
                    <i class="uil uil-map-marker absolute top-[48%] -translate-y-1/2 start-3 z-1 text-indigo-600 text-[20px]"></i>
                    <select class="form-select" data-trigger name="choices-location" id="choices-location" aria-label="Default select example">
                        <option value="AF">Nantes</option>
                        <option value="AZ">Paris</option>
                        <option value="BS">Lyon</option>
                        <option value="BH">Marseille</option>
                        <option value="CA">Bordeaux</option>
                    </select>
                </div>
            
                <div class="filter-search-form relative">
                    <i class="uil uil-briefcase-alt absolute top-[48%] -translate-y-1/2 start-3 z-1 text-indigo-600 text-[20px]"></i>
                    <select class="form-select " data-trigger name="choices-type" id="choices-type" aria-label="Default select example">
                        <option selected="" value="1">CDI</option>
                        <option value="2">CDD</option>
                        <option value="3">Freelance</option>
                        <option value="4">Alternance</option>
                    </select>
                </div>

                <input type="submit" id="search" name="search" style="height: 60px;" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white searchbtn lg:rounded-t-none lg:rounded-e-sm lg:rounded-b-sm lg:rounded-s-none rounded-lg w-100 hover:cursor-pointer" value="Chercher">
            </div><!--end grid-->
        </div><!--end container-->
    </form>
</div>