{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Accueil
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-home',
    'bg': true,
    'title': 'Tech Talent Hub',
    'description': 'Vous êtes un Développeur Web, un Data, un Testeur, un Scrum Master, Un Product Owner ou un Chef de Projet et vous recherchez votre bonheur au travail ?'
} %}
<!-- End Hero -->

<!-- Start Section Offers -->
{% include 'components/app/_app_card_offers.html.twig' with {
    'offers': offers,
    'title': true
} %}
<!-- End Section-->

<!-- Start Section Tags -->
{% if countOffers > 0 %}
    {% include 'components/app/_app_card_tags.html.twig' with  {
        'tags': tags,
        'title': true
    } %}
{% endif %}
<!-- End Section-->

<!-- Start Section Partners -->
{% if countOffers > 0 %}
    {% include 'components/app/_app_card_partners.html.twig' with  {
        'partners': partners,
        'title': true
    } %}
{% endif %}
<!-- End Section-->

<!-- Start Section Presentation -->
{% include 'components/app/_app_presentation.html.twig' with {
    'countOffers': countOffers,
    'countTags': countTags,
    'countPartners': countPartners,
    'countPosts': countPosts}
%}
<!-- End Section-->

<!-- Start Section Salary -->
{% if countPosts > 0 %}
    {% include 'components/app/_app_salary.html.twig' %}
{% endif %}
<!-- End Section-->

<!-- Start Section Training -->
{% if countPosts > 0 %}
    {% include 'components/app/_app_training.html.twig' %}
{% endif %}
<!-- End Section-->
{% endblock %}
