{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Liste de toutes les Technologies
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-tag',
    'bg': true,
    'title': 'Liste de toutes les Technologies',
    'description': null,
    'count': countTags,
    'countTitle': 'technologies',
} %}<!-- End Hero -->

<!-- Start Section tags -->
{% include 'components/app/_app_card_tags.html.twig' with  {
    'tags': tags,
    'showDatas': showDatas,
} %}
<!-- End Section-->

<!-- Start Section Partners -->
{% include 'components/app/_app_card_partners.html.twig' with  {
    'partners': null,
    'showDatas': showDatas,
    'title': true
} %}
<!-- End Section-->

<!-- Start Section Presentation -->
{% include 'components/app/_app_presentation.html.twig' with {
    'countOffers': countOffers,
    'countTags': countTags,
    'countPartners': countPartners,
    'countPosts': countPosts}
%}
<!-- End Section-->

{% endblock %}
