{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - {{ tag.name|title }}
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-show-tag',
    'title': tag.name|upper,
    'description': tag.description,
    'count': tag.countOffer,
    'countTitle': 'offres',
} %}<!-- End Hero -->

<!-- Start Offers By tag -->
{% include 'components/app/_app_card_offers.html.twig' with {
    'offers': offersByTag,
    'showDatas': true,
    'link': path('app_tag_index'),
    'linkTitle': 'Technologies',
    'linkSubtitle': 'Liste des offres',
    'origin': origin,
} %}
<!-- End Offers By tag -->
{% endblock %}
