{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Liste de tous les Partenaires
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-partner',
    'bg': true,
    'title': 'Liste de tous les Partenaires',
    'description': null,
    'count': countPartners,
    'countTitle': 'partenaires',
} %}<!-- End Hero -->

<!-- Start Section Partners -->
{% include 'components/app/_app_card_partners.html.twig' with {
    'partners': partners,
    'showDatas': showDatas,
} %}
<!-- End Section-->

<!-- Start Section Tags -->
{% include 'components/app/_app_card_tags.html.twig' with {
    'tags': null,
    'showDatas': true,
    'title': true
} %}
<!-- End Section-->

<!-- Start Section Presentation -->
{% include 'components/app/_app_presentation.html.twig' with {
    'countOffers': countOffers,
    'countTags': countTags,
    'countPartners': countPartners,
    'countPosts': countPosts}
%}
<!-- End Section-->

{% endblock %}