{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - {{ partner.name|title }}
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-show-partner',
    'title': partner.name|upper,
    'description': partner.description,
    'logo': partner.logo,
    'url': partner.url,
    'count': partner.countOffer,
    'countTitle': 'offres',
} %}<!-- End Hero -->

<!-- Start Offers By Partner -->
{% include 'components/app/_app_card_offers.html.twig' with {
    'offers': offersByPartner,
    'showDatas': true,
    'link': path('app_partner_index'),
    'linkTitle': 'Partenaires',
    'linkSubtitle': 'Liste des offres',
    'origin': origin,
} %}
<!-- End Offers By tag -->
{% endblock %}
