<form method="post" action="{{ path('app_admin_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette Information?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
