{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Liste des Informations{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Informations',
        'href': path('app_admin_post_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_post_type.html.twig' with {
        'href': path('app_admin_post_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': posts.getTotalItemCount,
                'entity': (posts.getTotalItemCount > 1) ? 'billets' : 'billet',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[80px]">Type</td>
                        <th class="text-center p-4 min-w-[200px]">Titre</td>
                        <th class="text-center p-4 min-w-[100px]">Website</td>
                        <th class="text-center p-4 min-w-[100px]">Image</td>
                        <th class="text-center p-4 min-w-[60px]">Actif</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="text-center p-4">{{ post.type }}</td>
                        <td class="text-center p-4">{{ post.title }}</td>
                        <td class="text-center p-4">{{ post.website }}</td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ (post.imageName is not null) ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ (post.imageName is not null) ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ post.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ post.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_post_edit', {'id': post.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/parameters/post/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {# {% set datas = posts %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }} #}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
