{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</td>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Slug</td>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Type</td>
                <td>{{ post.type }}</td>
            </tr>
            <tr>
                <th>Content</td>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Active</td>
                <td>{{ post.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ImageName</td>
                <td>{{ post.imageName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
