<form class="flex justify-center items-center hover:text-red-500" method="post" action="{{ path('app_admin_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Technologie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>