{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Créer une nouvelle Technologie{% endblock %}

{% block body %}
    <!-- Start Content -->
    <div class="md:flex justify-between items-center">
        <h5 class="text-lg font-semibold">Créer une nouvelle Technologie</h5>
    </div>

    <div class="container relative mt-6">
        <div class="md:flex justify-center">
            <div class="lg:w-4/5 w-full">
                <div class="p-6 relative rounded-md shadow bg-white">
                    {% include 'pages/admin/tag/_form.html.twig' with {'button': 'Ajouter'} %}
                </div>
                {% include 'components/admin/_admin_button_back.html.twig' with {
                    'href': path('app_admin_tag_index')
                } %}
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}
