<form method="post" action="{{ path('app_admin_company_delete', {'id': company.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Société ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
