{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</td>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>Logo</td>
                <td>{{ company.logo }}</td>
            </tr>
            <tr>
                <th>Url</td>
                <td>{{ company.url }}</td>
            </tr>
            <tr>
                <th>ActivitySector</td>
                <td>{{ company.activitySector }}</td>
            </tr>
            <tr>
                <th>CreatedAt</td>
                <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ company.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_index') }}">back to list</a>

    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
