<thead>
    <tr style="background-color: #4f46e5; padding: 3px 0; line-height: 68px; text-align: center; color: #fff; font-size: 24px; font-weight: 700; letter-spacing: 1px;">
        <td scope="col"><img src="{{ email.image('@images/email/logo-tech-talent-hub-light.png') }}" alt="Logo Tech Talent Hub" class="py-3"></td>
    </tr>
</thead>