<tr>
    <td style="padding: 15px 24px 15px; color: #8492a6;">
        L'équipe de Tech Talent Hub
    </td>
</tr>

<tr>
    <td style="padding: 16px 8px; color: #8492a6; background-color: #f8f9fc; text-align: center;">
        © <script>document.write(new Date().getFullYear())</script> Tech Talent Hub
    </td>
</tr>