{% extends 'baseAccount.html.twig' %}

{% block title %}Tech Talent Hub - Mes Candidatures
{% endblock %}

{% block page %}
<div class="rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 mt-6">
    <div class="p-6 border-b border-gray-100 dark:border-gray-700">
        <h5 class="text-xl font-semibold">Mes Candidatures</h5>
        <p class="text-slate-400 mt-2">Vous avez actuellement {{ countOfferCandidacy }} {{ (countOfferCandidacy > 1) ? 'candidatures' : 'candidature' }} en cours</p>
    </div>

    <div class="px-6">
        <ul>
        {% for candidacy in candidacies %}
            <li class="flex justify-between items-center py-6">
                <div class="flex items-center">
                    <img src="assets/images/payments/visa.png" class="rounded shadow dark:shadow-gray-800 w-12" alt="">

                    <div class="ms-3">
                        <p class="font-semibold">Titre</p>
                        <p class="font-semibold">Société</p>
                        <p class="text-slate-400 text-sm">date</p>
                    </div>
                </div>

                <div>
                    <a href="" class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center bg-red-600/5 hover:bg-red-600 border-red-600/10 hover:border-red-600 text-red-600 hover:text-white rounded-full">
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 size-4"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> #}
                    <i data-feather="feather feather-trash-2" class="size-4"></i>
                    </a>
                </div>
            </li>
        {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}
