{% extends 'baseAccount.html.twig' %}

{% block title %}Tech Talent Hub - Mon Compte
{% endblock %}

{% block page %}
<div class="grid lg:grid-cols-2 grid-cols-1 gap-[30px] pt-6">
    <div>
        <h5 class="text-xl font-semibold">Informations Personnelles :</h5>
        <div class="mt-6">
            {% include 'components/app/_app_account_profile_data.html.twig' with {
                'icon': 'uil-users-alt',
                'label': 'Nom Complet',
                'data': account.fullname,
            }%}

            {% include 'components/app/_app_account_profile_data.html.twig' with {
                'icon': 'uil-envelope-check',
                'label': 'Email',
                'data': account.email,
            }%}

            {% include 'components/app/_app_account_profile_data.html.twig' with {
                'icon': 'uil-invoice',
                'label': 'Rgpd',
                'data': (account.rgpd) ? 'Oui' : 'Non',
            }%}

            {% include 'components/app/_app_account_profile_data.html.twig' with {
                'icon': 'uil-users-alt',
                'label': 'Compte Actif',
                'data': (account.active) ? 'Oui' : 'Non',
            }%}
        </div>
    </div>

    <div class="mt-[30px] lg:mt-0">
        {% include 'components/app/_app_account_profile_banner.html.twig' with {
            'count': countOfferCandidacy,
            'text': (countOfferCandidacy > 1) ? 'Candidatures' : 'Candidature',
            'icon': 'uil-weight',
            'link': path('app_account_candidacies'),
        } %}

        {% include 'components/app/_app_account_profile_banner.html.twig' with {
            'count': countOfferLikes,
            'text': (countOfferLikes > 1) ? 'Offres sauvegardées' : 'Offre sauvegardée',
            'icon': 'uil-bookmark',
            'link': path('app_account_likes'),
        } %}

        {% include 'components/app/_app_account_profile_banner.html.twig' with {
            'count': countOfferSearch,
            'text': (countOfferSearch > 1) ? 'Recherches' : 'Recherche',
            'icon': 'uil uil-bell',
            'link': path('app_account_searches'),
        } %}
    </div>
</div>
{% endblock %}
