{% extends 'baseAccount.html.twig' %}

{% block title %}Tech Talent Hub - Mes Offres Sauvegardées
{% endblock %}

{% block page %}
<div class="rounded-md shadow bg-white">
    <div class="p-6 md:flex justify-between items-center border-b border-gray-100">
        <div class="mb-4 md:mb-0">
            <h5 class="text-xl font-semibold">Faire une recherche</h5>
        </div>
        <a href="{{ path('app_offer_index') }}" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md" title="Ajouter une Offre">Ajouter une Offre</a>
    </div>
</div>

<div class="rounded-md shadow bg-white mt-6">
    <div class="p-6 border-b border-gray-100">
        <h5 class="text-xl font-semibold">Mes Offres Sauvegardées</h5>
        <p class="text-slate-400 mt-2">Vous avez actuellement {{ countOfferLikes }} {{ (countOfferLikes > 1) ? 'offres sauvegardées' : 'offre sauvegardée' }}</p>
    </div>

    <div class="px-6">
        <ul>
        {% for like in likes %}
            <li class="flex justify-between items-center py-6">
                <div class="flex items-center">
                    <img src="assets/images/payments/visa.png" class="rounded shadow w-12" alt="">

                    <div class="ms-3">
                        <p class="font-semibold">Titre</p>
                        <p class="font-semibold">Société</p>
                        <p class="text-slate-400 text-sm">date</p>
                    </div>
                </div>

                <div>
                    <a href="" class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center bg-red-600/5 hover:bg-red-600 border-red-600/10 hover:border-red-600 text-red-600 hover:text-white rounded-full">
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 size-4"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg> #}
                    <i data-feather="feather feather-trash-2" class="size-4"></i>
                    </a>
                </div>
            </li>
        {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}
