{% extends 'baseAccount.html.twig' %}

{% block title %}Tech Talent Hub - Mes Paramètres
{% endblock %}

{% block page %}
<div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
    <h5 class="text-lg font-semibold mb-4">Informations personnelles :</h5>
    {% include 'pages/app/account/_form.html.twig' with {'button': 'Modifier'} %}
</div>

<div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 mt-[30px]">
    <h5 class="text-lg font-semibold mb-4">Suppression du Compte :</h5>
    <p class="text-slate-400">Vous pouvez supprimer votre compte à tout moment. Attention, cette action est irréversible.</p>
    <div class="flex justify-end">
        {% if (('ROLE_ADMIN' in account.roles) == false) %}
            {{ include('pages/app/account/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
{% endblock %}