<form class="flex justify-center items-center hover:text-red-500" method="post" action="{{ path('app_admin_offer_delete', {'id': offer.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Offre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offer.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
