<div class="p-6 relative rounded-md shadow bg-white">
	{{ form_start(form, {'attr': {'class': 'text-start form-error'}}) }}
	<div class="form-error text-white">
		{{ form_errors(form) }}
	</div>

	<div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
		<div class="lg:col-span-12">
			<div class="grid grid-cols-1 gap-6">
				<div class="p-6 relative rounded-md shadow bg-white">
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
						{{ form_row(form.channel) }}
						{{ form_row(form.active) }}
						{{ form_row(form.partners) }}
						{{ form_row(form.validation) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Détails'} %}
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
						{{ form_row(form.reference) }}
						{{ form_row(form.job) }}
					</div>

					<div class="grid grid-cols-1">
						{{ form_row(form.title) }}
						{{ form_row(form.city) }}
						{{ form_row(form.company) }}
						{{ form_row(form.description) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Candidature'} %}
					<div class="grid grid-cols-1">
						{{ form_row(form.candidacyUrl) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Contrat'} %}
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
							{{ form_row(form.contract) }}
							{{ form_row(form.contractType) }}
							{{ form_row(form.contractNature) }}
							{{ form_row(form.duration) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Expérience et Formations'} %}
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
							{{ form_row(form.experience) }}
							{{ form_row(form.formations) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Salaire'} %}
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
							{{ form_row(form.salary) }}
							{{ form_row(form.salaryCommentary) }}
							{{ form_row(form.salaryComplement) }}
							{{ form_row(form.salaryOther) }}
					</div>
				</div>

				<div class="p-6 relative rounded-md shadow bg-white">
					{% include 'components/admin/_admin_card_header.html.twig' with {'title': 'Informations Complémentaires'} %}
					<div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
						{{ form_row(form.alternation) }}
						{{ form_row(form.telework) }}
					</div>

					<div class="grid grid-cols-1">
						{{ form_row(form.workTravel) }}
						{{ form_row(form.tags) }}
						{{ form_row(form.hardSkills) }}
						{{ form_row(form.softSkills) }}
						{{ form_row(form.languages) }}
					</div>
				</div>

				<!-- button -->
				{% include 'components/admin/_admin_form_button.html.twig' with {'button': button} %}
			</div>
		</div>
	</div>

	{{ form_end(form)}}
</div>