<div class="p-6 relative rounded-md shadow bg-white">

    <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
        <div class="lg:col-span-12">
            <div class="p-6 bg-white shadow rounded-md">
                <table class="w-full text-start">
                    <tbody>
                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4">Référence</td>
                            <td class="text-slate-400 py-4">{{ offer.reference }}</td>
                        </tr>

                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4" style="width: 100px;">Titre:</td>
                            <td class="text-slate-400 py-4">{{ offer.title }}</td>
                        </tr>

                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4">Description</td>
                            <td class="text-slate-400 py-4">{{ offer.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="lg:col-span-12">
        {{ form_start(form, {'attr': {'class': 'text-start form-error'}}) }}
            <div class="form-error text-white">
                {{ form_errors(form) }}
            </div>

            <div class="p-6 bg-white shadow rounded-md">
                {{ form_row(form.tags) }}
            </div>
            <!-- button -->
            {% include 'components/admin/_admin_form_button.html.twig' with {'button': button} %}

        {{ form_end(form)}}
        </div>
    </div>
</div>