{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Les offres d'emploi{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header_define.html.twig' with {
        'title' : 'Liste des Offres',
        'hrefDefine': (countOfferToDefine > 0) ? path('app_admin_offer_define') : null,
        'href': path('app_admin_offer_new'),
        'hrefParent': null,
        'hrefChild': null,
        'nameDefine': 'Technologies à Définir',
        'nameParent': null,
        'nameChild': null,
    } %}
    <!-- End Header -->

    <!-- Start Form Search -->
    {% include 'components/admin/_admin_search_offer_type.html.twig' with {
        'href': path('app_admin_offer_index'),
    } %}
    <!-- End Form Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': offers.getTotalItemCount,
                'entity': (offers.getTotalItemCount > 1) ? 'offres' : 'offre',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[40px]">Référence</td>
                        <th class="text-center p-4 min-w-[200px]">Titre</td>
                        <th class="text-center p-4 min-w-[60px]">Contrat</td>
                        <th class="text-center p-4 min-w-[60px]">Code Postal</td>
                        <th class="text-center p-4 min-w-[120px]">Ville</td>
                        <th class="text-center p-4 min-w-[150px]">Technologie(s)</td>
                        <th class="text-center p-4 min-w-[60px]">Visibilité</td>
                        <th class="text-center p-4 min-w-[60px]">Validité</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td class="text-center p-4">{{ offer.reference }}</td>
                        <td class="text-center p-4">
                            <a href="{{ path('app_admin_offer_edit', {'id': offer.id}) }}" alt="{{ offer.title }}">{{ offer.title|u.truncate(60, '...', false) }}</a>
                        </td>
                        <td class="text-center p-4">{{ offer.contract }}</td>
                        <td class="text-center p-4">{{ offer.city.zipCode ?? null }}</td>
                        <td class="text-center p-4">{{ offer.city.name ?? null }}</td>
                        <td class="text-center p-4">
                            {{ offer.tags|length }}
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ offer.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ offer.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ offer.isValidation ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ offer.isValidation ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <th class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_offer_edit', {'id': offer.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/offer/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = offers %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
