<button class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-transparent hover:bg-red-600 border border-red-600 text-red-600 hover:text-white"><i data-feather="x" class="h-4 w-4"></i></button>