<a href="{{ href }}" class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-transparent hover:bg-indigo-600 border border-indigo-600 text-indigo-600 hover:text-white"><i data-feather="edit" class="h-4 w-4"></i></a>