<!-- Start Content -->
<div class="flex justify-between items-center">
    <div>
        <h5 class="text-lg font-semibold">{{ title }}</h5>
    </div>

    {% if (href is defined and href is not null) %}
    <div class="flex items-center">
        <a href="{{ href }}" class="ms-1">
            {% include "components/admin/_admin_button_add.html.twig" %}
        </a>
    </div>
    {% endif %}
</div>