
<div class="mt-5 flex items-center justify-between">
{% if pageCount > 1 %}
    <div>
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full"><i class="mdi mdi-chevron-double-left"></i></a>
        {% endif %}

        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-left"></i></a>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full">{{ page }}</a>
            {% else %}
                <span class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center border-dark bg-indigo-600 text-white rounded-full">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-right"></i></a>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-double-right"></i></a>
        {% endif %}
    </div>
    <span class="text-slate-400">Page {{ current }} sur {{ pageCount }}</span>
{% endif %}
</div>