<div class="subcribe-form mt-6 mb-3">
{{ form_start(form, {'attr': {'class': 'relative max-w-xl mx-auto flex flex-col justify-center items-center'}}) }}
    {{ form_widget(form.q)}}
    {{ form_widget(form.department) }}
    <div class="flex flex-wrap justify-center items-center mt-4">
        {% include 'components/admin/_admin_button_search.html.twig' %}
        {% include 'components/admin/_admin_button_reset.html.twig' with {
            'href': href
        } %}
    </div>
{{ form_end(form) }}
</div>