<div class="group relative overflow-hidden rounded-md shadow bg-white h-fit">
    <div class="p-6 text-center">
        <h6 class="font-bold text-2xl">{{ title }}</h6>
        <p class="text-slate-400 mt-2">{{ description }}</p>
    </div>
    <div class="p-6 border-t border-gray-100">
        <ul class="list-none text-slate-400">
            {% for item in checklist %}
                <li class="mt-2 flex">
                    <i class="uil uil-check-circle text-emerald-600 text-[20px] align-middle me-2"></i>
                    <span>{{ item }}</span>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ action }}" method="post">
            <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md w-full mt-6">Analyser</button>
        </form>
    </div>
</div>
