<!-- Start Content -->
<div class="flex justify-between items-center">
    <div>
        <h5 class="text-lg font-semibold">{{ title }}</h5>
    </div>

    <div class="flex items-center">
        {% if (hrefDefine is defined and hrefDefine is not null) %}
            <a href="{{ hrefDefine }}" class="py-[7px] px-6 font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md sm:inline-block hidden">{{ nameDefine }}</a>
        {% endif %}
        {% if (hrefParent is defined and hrefParent is not null) or (hrefChild is defined and hrefChild is not null) %}
            <ul>
                <li class="dropdown inline-block relative m-0.5">
                    <button data-dropdown-toggle="dropdown" class="dropdown-toggle py-[7px] px-6 font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md sm:inline-block hidden" type="button">
                        Ajouter <i class="uil uil-angle-down text-[20px] align-middle inline-block"></i>
                    </button>
                    <!-- Dropdown menu -->
                    <div class="dropdown-menu absolute start-0 m-0 z-10 w-48 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 hidden" onclick="event.stopPropagation();">
                        <ul class="py-2 text-start">
                            {% if (hrefParent is defined and hrefParent is not null)%}
                            <li>
                                <a href="{{ hrefParent }}" class="block font-medium py-1.5 px-4 hover:text-indigo-600">{{ nameParent }}</a>
                            </li>
                            {% endif %}
                            {% if (hrefChild is defined and hrefChild is not null) %}
                            <li>
                                <a href="{{ hrefChild }}" class="block font-medium py-1.5 px-4 hover:text-indigo-600">{{ nameChild }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </li><!--end dropdown-->
            </ul>
        {% else %}
            <a href="{{ href }}" class="ms-1">
                {% include "components/admin/_admin_button_add.html.twig" %}
            </a>
        {% endif %}
    </div>

</div>