<div class="relative overflow-hidden rounded-md shadow bg-white">
    <div class="p-5 flex items-center">
        <span class="flex justify-center items-center rounded-md h-14 w-14 min-w-[56px] bg-indigo-600/5 shadow shadow-indigo-600/5 text-indigo-600">
            <i class="mdi {{ icon }} h-5 w-5"></i>
        </span>

        <span class="ms-3">
            <span class="text-slate-400 font-semibold block">{{ name }}</span>
            <span class="flex items-center justify-between mt-1">
                <span class="text-xl font-semibold"><span class="counter-value" data-target="{{ count }}">{{ count}}</span></span>
            </span>
        </span>
    </div>

    <div class="px-5 py-4 bg-gray-50">
        <a href="{{ href }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500">Voir <i class="uil uil-arrow-right"></i></a>
    </div>
</div><!--end-->