<div class="p-6 relative rounded-md shadow bg-white mt-4 mb-4">
    <a href="{{ href }}" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-800 hover:bg-gray-950 border-gray-800 hover:border-gray-950 text-white rounded-md">Retour</a>
</div>