<a href="{{ href }}" class="py-3 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center h-[46px] bg-red-600 hover:bg-red-700 border border-red-600 hover:border-red-700 text-white rounded-full">
    <i data-feather="x" class="h-4 w-4"></i>
</a>
