{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Liste des Analyses{% endblock %}

{% block body %}
	<!-- Start Preloader -->
	{% include 'components/admin/_admin_preloader.html.twig' %}
	<!-- End Preloader -->

	<!-- Start Header -->
	{% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Analyses',
        'href': null,
    } %}
	<!-- End Header -->

	<!-- flash message -->
    {% include "components/blocks/_flash_message.html.twig" %}
    <!-- End flash message -->

	<div class="grid grid-cols-1 mt-6">

		<div class="grid lg:grid-cols-4 md:grid-cols-2 mt-6 gap-6">
			<!-- Technologies -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Technologies',
				'description': 'Analyse de l\'ensemble des technologies.',
				'checklist': [
					'Recherche des technologies',
					'Ajout des technologies aux Offres',
					'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_analysis', {type: 'tags'})
			} %}
			<!-- Technologies -->

			<!-- Partenaires -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Partenaires',
				'description': 'Analyse de l\'ensemble des partenaires.',
				'duration': 'Durée Rapide',
				'checklist': [
					'Vérification des urls',
					'Compte des offres pour chaque partenaire',
					'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_analysis', {type: 'partners'})
			} %}
			<!-- Partenaires -->

			<!-- Offres -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Offres',
				'description': 'Analyse de l\'ensemble des Offres.',
				'duration': 'Durée Longue',
				'checklist': [
					'Vérification des urls',
					'Recherche des technologies',
					'Ajout des technologies',
					'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_analysis', {type: 'offers'})
			} %}
			<!-- Offres -->

			<!-- Jobs -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Métiers',
				'description': 'Analyse de l\'ensemble des Métiers.',
				'duration': 'Durée Intermédiaire',
				'checklist': [
					'Vérification des Parents',
					'Création des Parents',
					'Vérification des Enfants',
					'Création des Enfants',
					'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_analysis', {type: 'jobs'})
			} %}
			<!-- Jobs -->

		</div>
		<!--end grid-->
	</div>
	<!-- End Content -->
{% endblock %}
