{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Récupération {{ type | capitalize }}{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->

    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Récupération ' ~ type | capitalize,
        'href': null,
    } %}
    <!-- End Header -->

    <!-- flash message -->
    {% include "components/blocks/_flash_message.html.twig" %}
    <!-- End flash message -->

    <div class="grid grid-cols-1 mt-6">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 mt-6 gap-6">

            <!-- Offres -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Offres',
				'description': 'Récupération des Offres.',
				'duration': 'Durée Longue',
				'checklist': [
					'Récupération des nouvelles offres',
                    'Mise à jour des offres existantes',
                    'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_fetchs', {type: 'offers'})
			} %}
			<!-- Offres -->

			<!-- Jobs -->
			{% include 'components/admin/_admin_scheduler_card.html.twig' with {
				'title': 'Tout',
				'description': 'Récupération des Offres et toutes les analyses.',
				'duration': 'Durée Longue',
				'checklist': [
					'Récupération des nouvelles données métiers',
                    'Mise à jour des métiers existants',
                    'Analyse des métiers',
                    'Analyse des offres sans technologies',
                    'Analyse des technologies',
                    'Analyse des partenaires',
                    'Envoi d\'un Email'
				],
				'action': path('app_admin_scheduler_fetchs', {type: 'all'})
			} %}
			<!-- Jobs -->

        </div>
    </div>
{% endblock %}
