<form method="post" action="{{ path('app_admin_softskill_delete', {'id': softskill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ softskill.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
