{% extends 'base.html.twig' %}

{% block title %}SoftSkill{% endblock %}

{% block body %}
    <h1>SoftSkill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</td>
                <td>{{ soft_skill.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</td>
                <td>{{ soft_skill.createdAt ? soft_skill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ soft_skill.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ soft_skill.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_soft_skill_index') }}">back to list</a>

    <a href="{{ path('app_soft_skill_edit', {'id': soft_skill.id}) }}">edit</a>

    {{ include('soft_skill/_delete_form.html.twig') }}
{% endblock %}
