<form method="post" action="{{ path('app_admin_formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Formation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>