{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - {{ title }}
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': banner,
    'bg': true,
    'title': title,
    'description': null,
    'count': countPosts,
    'countTitle': (countPosts > 1) ? 'billets' : 'billet',
} %}
<!-- End Hero -->

<!-- Start Salary -->
<section class="relative md:py-24 py-16 overflow-hidden">
    <div class="container relative">
        <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-[30px]">
            <!-- Start Course -->
            {% for post in posts %}
            <div class="group relative rounded-md shadow hover:shadow-lg duration-500 ease-in-out overflow-hidden bg-indigo-600/10 hover:bg-indigo-600">
                <div class="relative overflow-hidden">
                    <a href="{{ post.url }}" target="_blank" title="Voir l'article {{ post.title|title }} de {{ post.website }}">
                        <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                        <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>
                    </a>
                </div>

                <div class="content p-6 relative bg-post">
                    <a href="{{ post.url }}" target="_blank" class="font-medium block text-indigo-600 group-hover:text-white duration-500 ease-in-out">{{ post.website }}</a>
                    <a href="{{ post.url }}" target="_blank" class="text-lg font-medium block group-hover:text-white duration-500 ease-in-out mt-2" title="Voir l'article {{ post.title|title }} de {{ post.website }}">{{ post.title|title }}</a>
                    <p class="text-slate-400 mt-3 mb-4 h-80">{{ post.content|raw }}</p>

                    {% if post.url is defined and post.url is not null%}
                    <div class="my-5">
                        <a href="{{ post.url }}" target="_blank" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100 rounded-md me-2 mt-2" title="Voir l'article {{ post.title|title }} de {{ post.website }}"><i class="uil uil-external-link-alt"></i> Voir l'article</a>
                    </div>
                    {% endif %}

                    <ul class="pt-4 border-t border-gray-100 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-pen text-lg leading-none me-2 text-slate-900 group-hover:text-white duration-500 ease-in-out"></i>
                            <span class="text-slate-900 group-hover:text-white duration-500 ease-in-out">{{ post.website }}</span>
                        </li>
                        <li class="flex items-center me-4">
                            <i class="uil uil-calendar-alt text-lg leading-none me-2 text-slate-900 group-hover:text-white duration-500 ease-in-out"></i>
                            <span class="text-slate-900 group-hover:text-white duration-500 ease-in-out">{{ post.createdAt|date("d/m/Y") }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Course -->
            {% endfor %}
            <!-- End Course -->
        </div><!--end grid-->

        <!-- pagination -->
        {% set datas = posts %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/app/_app_pagination.html.twig') }}
        <!-- pagination -->
    </div><!--end container-->
</section>
<!-- End Salary -->

<!-- Start Section Presentation -->
{% include 'components/app/_app_presentation.html.twig' with {
    'countOffers': countOffers,
    'countTags': countTags,
    'countPartners': countPartners,
    'countPosts': countPosts}
%}
<!-- End Section-->

{% endblock %}
