{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Les Offres d'Emploi
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-offer',
    'bg': true,
    'title': 'Les Offres d\'Emploi',
    'description': null,
    'count': countOffers,
    'countTitle': 'offres',
} %}
<!-- End Hero -->

<!-- Start Section Offers -->
{% include 'components/app/_app_card_offers.html.twig' with {
    'offers': offers,
    'showDatas': showDatas,
    'origin': origin,
    'search': (countOffers > 0) ? true : false
} %}
<!-- End Section-->

<!-- Start Section Presentation -->
{% include 'components/app/_app_presentation.html.twig' with {
    'countOffers': countOffers,
    'countTags': countTags,
    'countPartners': countPartners,
    'countPosts': countPosts}
%}
<!-- End Section-->

<!-- Start Section Partners -->
{% if countOffers > 0 %}
    {% include 'components/app/_app_card_partners.html.twig' with  {
        'partners': null,
        'showDatas': showDatas,
        'title': true
    } %}
{% endif %}
<!-- End Section-->

<!-- Start Section Tags -->
{% if countOffers > 0 %}
    {% include 'components/app/_app_card_tags.html.twig' with  {
        'tags': null,
        'showDatas': showDatas,
        'title': true
    } %}
{% endif %}
<!-- End Section-->
{% endblock %}
