{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Offre {{offer.title}}
{% endblock %}

{% block body %}
<!-- Start Hero -->
{% include 'components/app/_app_hero.html.twig' with {
    'bgImage': 'banner-offer',
    'bg': true,
    'title': offer.title|title,
    'description': null,
    'count': null,
} %}
<!-- End Hero -->

{% include 'components/app/_app_breadcrumb.html.twig' with {
    'link': link ?? path('app_offer_index'),
    'linkTitle': linkTitle ?? 'Offres',
} %}

    <!-- Start Section-->
    <section class="relative">
        <div class="container relative">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                <div class="lg:col-span-8 md:col-span-6">
                    <div class="p-6 rounded-md shadow">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Description:', 'marginTop': null} %}

                        <div class="mt-6 text-slate-400">
                            {{ offer.description|nl2br }}
                        </div>
                    </div>

                    {% if hardskills is defined and hardskills is not null %}
                    <div class="p-6 rounded-md shadow mt-8">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Savoir Faire:', 'marginTop': null} %}

                        <div class="mt-6 flex flex-col items-center p-6 border-t border-gray-100">
                            <ul class="list-none mb-4">
                                {% for hardskill in hardskills %}
                                <li class="text-slate-400 flex mt-2"><i class="uil uil-arrow-right text-indigo-600 h5 mb-0 me-2"></i> {{ hardskill.name }}</li>
                            </ul>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if softskills is defined and softskills is not null %}
                    <div class="p-6 rounded-md shadow mt-8">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Savoir Etre:', 'marginTop': null} %}

                        <div class="mt-6 flex flex-col items-center p-6 border-t border-gray-100">
                            <ul class="list-none mb-4">
                                {% for softskill in softskills %}
                                <li class="text-slate-400 flex mt-2"><i class="uil uil-arrow-right text-indigo-600 h5 mb-0 me-2"></i> {{ softskill.name }}</li>
                            </ul>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if languages is defined and languages is not null %}
                    <div class="p-6 rounded-md shadow mt-8">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Langues:', 'marginTop': null} %}

                        <div class="mt-6 flex flex-col items-center p-6 border-t border-gray-100">
                            <ul class="list-none mb-4">
                            {% for language in languages %}
                                <li class="text-slate-400 flex mt-2"><i class="uil uil-arrow-right text-indigo-600 h5 mb-0 me-2"></i> {{ language.name }}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if offer.company is defined and offer.company is not null %}
                    <div class="p-6 rounded-md shadow mt-8">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Entreprise:', 'marginTop': null} %}

                        <div class="mt-6 flex flex-col items-center p-6 border-t border-gray-100">

                            {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                'label': 'Nom',
                                'data': offer.company.name|upper,
                                'fontSize': 'text-base'
                            } %}

                            {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                'label': 'Description',
                                'data': offer.company.description,
                                'fontSize': 'text-base'
                            } %}

                            {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                'label': 'Secteur d\'activité',
                                'data': offer.company.activitySector,
                                'fontSize': 'text-base'
                            } %}
                        </div>
                    </div>
                    {% endif %}

                    {% if offer.partners is defined and offer.partners is not null %}
                    <div class="p-6 rounded-md shadow mt-8">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Partenaire:', 'marginTop': null} %}

                        {% for partner in offer.partners%}
                        <div class="mt-6 flex items-center p-6 border-t border-gray-100">
                            <a href="{{ path('app_partner_show', {'slug': partner.slug}) }}" class="flex items-center hover:text-indigo-600" title="Voir le partenaire {{partner.name}}">
                                {% if partner.logo is not null %}
                                    <img src="{{ partner.logo }}" class="size-12 shadow-md dark:shadow-gray-800 rounded-md p-2 bg-white dark:bg-slate-900" alt="Logo du partenaire {{ partner.name }}">
                                {% endif %}

                                <div class="ms-3 flex flex-col">
                                    <h6 class="mb-0 font-semibold text-base">{{ partner.name|upper }}</h6>
                                    <span class="text-slate-400 text-sm">{{partner.description}}</span>
                                    {% set title = (partner.countOffer > 0) ? 'offres' : 'offre' %}
                                    <span class="text-slate-400 text-sm">{{partner.countOffer}} {{ title }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="lg:col-span-4 md:col-span-6">
                    <div class="sticky top-20">
                        {% include 'components/app/_app_show_title.html.twig' with {'title': 'Candidature', 'frame': true, 'marginTop': false} %}
                        
                        <div class="flex justify-center items-center mt-6">
                            {% if offer.candidacyUrl is defined %}
                                <a href="{{ offer.candidacyUrl }}" target="_blank" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md mr-2">Postuler</a>
                            {% endif %}
                            <a href="#" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Enregistrer</a>
                        </div>

                        <!-- Informations -->
                        {% if (offer.title is not null and offer.city is not null  and offer.telework is not null and offer.workTravel is not null)%}
                            {% include 'components/app/_app_show_title.html.twig' with {'title': 'Informations', 'frame': true} %}
                            <div class="flex flex-col items-center mt-6">

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Offre',
                                    'data': offer.title
                                } %}

                                {% set city = (offer.city is defined and offer.city is not null) ? [offer.city.zipCode, offer.city.name]|join(' - ') : null%}
                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Ville',
                                    'data': city
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Télétravail',
                                    'data': offer.telework,
                                    'badge': 'Oui',
                                    'badgeColor': 'bg-emerald-600',
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Alternance',
                                    'data': offer.alternation,
                                    'badge': 'Oui',
                                    'badgeColor': 'bg-emerald-600',
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': ['Référence', offer.channel|title]|join(' '),
                                    'data': offer.reference
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Déplacement',
                                    'data': offer.workTravel
                                } %}
                            </div>
                        {% endif %}

                        <!-- Contract -->
                        {% if (offer.contractType is not null and offer.contractType is not null and offer.duration is not null)%}
                            {% include 'components/app/_app_show_title.html.twig' with {'title': 'Contrat', 'frame': true} %}
                            <div class="flex flex-col items-center mt-6">
                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Type de contrat',
                                    'data': offer.contractType
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Nature du contrat',
                                    'data': offer.contractNature
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': 'Durée',
                                    'data': offer.duration
                                } %}
                            </div>
                        {% endif %}

                        <!-- Experience -->
                        {% if (offer.experience is not null) %}
                            {% include 'components/app/_app_show_title.html.twig' with {'title': 'Expérience', 'frame': true} %}
                            <div class="flex flex-col items-center mt-6">
                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': '',
                                    'data': offer.experience
                                } %}
                            </div>
                        {% endif %}

                        <!-- Salary -->
                        {% if (offer.salary is not null and offer.salaryCommentary is not null and offer.salaryComplement is not null and offer.salaryOther is not null)%}
                            {% include 'components/app/_app_show_title.html.twig' with {'title': 'Salaire', 'frame': true} %}
                            <div class="flex flex-col items-center mt-6">
                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': '',
                                    'data': offer.salary
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': '',
                                    'data': offer.salaryCommentary
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': '',
                                    'data': offer.salaryComplement
                                } %}

                                {% include 'components/app/_app_show_block_label_data.html.twig' with {
                                    'label': '',
                                    'data': offer.salaryOther
                                } %}
                            </div>
                        {% endif %}

                        <!-- Tags -->
                        {% if offer.tags|length > 0 %}
                            {% include 'components/app/_app_show_title.html.twig' with {'title': 'Technologies', 'frame': true} %}
                            <ul class="list-none text-center mt-8">
                                {% for tag in offer.tags %}
                                <li class="inline-block m-2"><a href="{{ path('app_tag_show', {'slug': tag.slug, 'id': tag.id}) }}" class="px-3 py-1 text-white bg-{{ tag.color }} text-sm rounded-md shadow" title="{{ tag.name }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div><!--end grid-->
        </div><!--end container-->

    </section>
    <!-- End Section-->
{% endblock %}
