<form method="post" action="{{ path('app_admin_language_delete', {'id': language.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Langue ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
