{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Modifier la Langue : {{ language.name|upper }}{% endblock %}

{% block body %}
    <!-- Start Content -->
    <div class="md:flex justify-between items-center">
        <h5 class="text-lg font-semibold">Modifier la Langue : {{ language.name|upper }}</h5>
    </div>

    <div class="container relative mt-6">
        <div class="md:flex justify-center">
            <div class="lg:w-4/5 w-full">
                {% include 'pages/admin/language/_form.html.twig' with {'button': 'Modifier'} %}
                {% include 'components/admin/_admin_button_back.html.twig' with {
                    'href': path('app_admin_language_index')
                } %}
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}
