{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Liste des Langues{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Langues',
        'href': path('app_admin_language_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_language_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': languages.getTotalItemCount,
                'entity': (languages.getTotalItemCount > 1) ? 'langues' : 'langues',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[150px]">Nom</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for language in languages %}
                    <tr>
                        <td class="text-center p-4">{{ language.name }}</td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_language_edit', {'id': language.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/language/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = languages %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
