{% extends 'base.html.twig' %}

{% block title %}Language{% endblock %}

{% block body %}
    <h1>Language</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CreatedAt</td>
                <td>{{ language.createdAt ? language.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ language.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_language_index') }}">back to list</a>

    <a href="{{ path('app_language_edit', {'id': language.id}) }}">edit</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}
