<form class="flex justify-center items-center hover:text-red-500" method="post" action="{{ path('app_admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet Utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
