{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Liste des Utilisateurs{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Utilisateurs',
        'href': path('app_admin_user_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_user_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': users.getTotalItemCount,
                'entity': (users.getTotalItemCount > 1) ? 'utilisateurs' : 'utilisateur',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[120px]">Emails</td>
                        <th class="text-center p-4 min-w-[120px]">Noms</td>
                        <th class="text-center p-4 min-w-[100px]">Roles</td>
                        <th class="text-center p-4 min-w-[60px]">Actif</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-center p-4">{{ user.email }}</td>
                        <td class="text-center p-4">{{ user.fullname }}</td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ "ROLE_ADMIN" in user.roles ? 'bg-emerald-600 text-white' : 'bg-yellow-500 text-white' }}">
                                {{ "ROLE_ADMIN" in user.roles ? 'Administrateur' : 'Utilisateur' }}
                            </span>
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ user.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ user.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_user_edit', {'id': user.id})} %}
                            <!-- delete -->
                            {% if (('ROLE_ADMIN' in user.roles) == false) %}
                                {{ include('pages/admin/parameters/user/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = users %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
{% endblock %}
