{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="absolute w-full px-4 py-2 rounded-md font-medium alert-{{ label }} block flex justify-center items-center flash-message"
             style="top:100px;z-index:998;">
            <i class="uil uil-info-circle me-1"></i> {{ message|trans|raw }}
        </div>
    {% endfor %}
{% endfor %}

<script>
    
</script>