<form method="post" action="{{ path('app_admin_city_delete', {'id': city.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette Ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
