{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Liste des Villes{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->

    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Villes',
        'href': path('app_admin_city_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_city_type.html.twig' with {
        'href': path('app_admin_city_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': cities.getTotalItemCount,
                'entity': (cities.getTotalItemCount > 1) ? 'villes' : 'ville',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[150px]">Libellé</td>
                        <th class="text-center p-4 min-w-[50px]">Code Postal</td>
                        <th class="text-center p-4 min-w-[150px]">Nom</td>
                        <th class="text-center p-4 min-w-[150px]">Département</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td class="text-center p-4">{{ city.label }}</td>
                        <td class="text-center p-4">{{ city.zipCode }}</td>
                        <td class="text-center p-4">{{ city.name }}</td>
                        <td class="text-center p-4">{{ city.department.name }}</td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_city_edit', {'id': city.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/city/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = cities %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
