{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ZipCode</td>
                <td>{{ city.zipCode }}</td>
            </tr>
            <tr>
                <th>DepartmentCode</td>
                <td>{{ city.departmentCode }}</td>
            </tr>
            <tr>
                <th>Department</td>
                <td>{{ city.department }}</td>
            </tr>
            <tr>
                <th>RegionCode</td>
                <td>{{ city.regionCode }}</td>
            </tr>
            <tr>
                <th>Region</td>
                <td>{{ city.region }}</td>
            </tr>
            <tr>
                <th>CreatedAt</td>
                <td>{{ city.createdAt ? city.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ city.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_city_index') }}">back to list</a>

    <a href="{{ path('app_city_edit', {'id': city.id}) }}">edit</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
