<form method="post" action="{{ path('app_admin_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
