{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Liste des Partenaires à Définir{% endblock %}

{% block body %}
    <!-- Start Content -->
    <div class="md:flex justify-between items-center">
        <h5 class="text-lg font-semibold">Liste des Partenaires à Définir</h5>
    </div>

    <div class="container relative mt-6">
        <div class="md:flex justify-center">
            <div class="lg:w-4/5 w-full">
                {% include 'components/admin/_admin_total_count.html.twig' with {
                    'total': countPartnerToDefine,
                    'entity': (countPartnerToDefine > 1 ) ? 'partenaires à définir' : 'partenaire à définir'
                } %}
                {% include 'pages/admin/partner/_form_define.html.twig' with {'button': 'Modifier'} %}
                {% include 'components/admin/_admin_button_back.html.twig' with {
                    'href': path('app_admin_partner_index')
                } %}
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}
