{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Liste des Partenaires{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header_define.html.twig' with {
        'title' : 'Liste des Partenaires',
        'hrefDefine': (countPartnerToDefine > 0) ? path('app_admin_partner_define') : null,
        'href': path('app_admin_partner_new'),
        'hrefParent': null,
        'hrefChild': null,
        'nameDefine': 'Url à Définir',
        'nameParent': null,
        'nameChild': null,
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_partner_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': partners.getTotalItemCount,
                'entity': (partners.getTotalItemCount > 1) ? 'partenaires' : 'partenaire',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[60px]">Position</td>
                        <th class="text-center p-4 min-w-[200px]">Nom</td>
                        <th class="text-center p-4 min-w-[200px]">Url</td>
                        <th class="text-center p-4 min-w-[60px]">Description</td>
                    <th class="text-center p-4 min-w-[60px]">Actif</td>
                        <th class="text-center p-4 min-w-[80px]">Nombre d'Offres</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for partner in partners %}
                    <tr>
                        <td class="text-center p-4">{{ partner.position }}</td>
                        <td class="text-center p-4">{{ partner.name }}</td>
                        <td class="text-center p-4">{{ partner.url }}</td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ partner.description ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ partner.description ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ partner.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ partner.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">{{ partner.countOffer }}</td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_partner_edit', {'id': partner.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/partner/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = partners %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
        </div>
    </div>
    <!-- End Content -->
{% endblock %}
