{% extends 'base.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <h1>Partner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Url</td>
                <td>{{ partner.url }}</td>
            </tr>
            <tr>
                <th>Logo</td>
                <td>{{ partner.logo }}</td>
            </tr>
            <tr>
                <th>CreatedAt</td>
                <td>{{ partner.createdAt ? partner.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</td>
                <td>{{ partner.slug }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ partner.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partner_index') }}">back to list</a>

    <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">edit</a>

    {{ include('partner/_delete_form.html.twig') }}
{% endblock %}
