<div class="p-6 relative rounded-md shadow bg-white">
	{{ form_start(form, {'attr': {'class': 'text-start form-error'}}) }}
	<div class="form-error text-white">
		{{ form_errors(form) }}
	</div>

	<div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
		<div class="lg:col-span-12">
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
			{{ form_row(form.color) }}
			{{ form_row(form.active) }}
		</div>
	</div>

	<!-- button -->
	{% include 'components/admin/_admin_form_button.html.twig' with {'button': button} %}

	{{ form_end(form)}}
</div>