{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Liste des Types de Technologies{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Liste des Types de Technologies',
        'href': path('app_admin_tag_type_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_tag_type_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': tags.getTotalItemCount,
                'entity': (tags.getTotalItemCount > 1) ? 'types' : 'type',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[150px]">Type</td>
                        <th class="text-center p-4 min-w-[60px]">Label</td>
                        <th class="text-center p-4 min-w-[60px]">Actif</td>
                        <th class="text-center p-4 min-w-[80px]">Nombre d'Offres</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td class="text-center p-4">{{ tag.name }}</td>
                        <td class="text-center p-4">
                            <span class="bg-{{ tag.color }}/5 border-{{ tag.color }}/5 text-{{ tag.color }} text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">{{ tag.name }}</span>
                        </td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ tag.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ tag.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">{{ tag.countOffer }}</td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_tag_type_edit', {'id': tag.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/parameters/tag/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = tags %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
