<!-- Footer Start -->
<footer class="shadow bg-white px-6 py-4">
    <div class="container-fluid">
        <div class="grid grid-cols-1">
            <div class="sm:text-start text-center mx-md-2">
                <p class="mb-0 text-slate-400">© <script>document.write(new Date().getFullYear())</script> Tech talent Hub with <i class="mdi mdi-heart text-red-600"></i> by <a href="https://fredolive.fr/" target="_blank" class="text-reset">Froldev</a>.</p>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</footer><!--end footer-->