<!-- Top Header -->
<div class="top-header">
    <div class="header-bar flex justify-between">
        <div class="flex items-center space-x-1">
            <!-- show or close sidebar -->
            <a id="close-sidebar" class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-blue-700 hover:text-white border hover:border-gray-100" href="javascript:void(0)">
                <i data-feather="menu" class="h-4 w-4"></i>
            </a>
            <!-- show or close sidebar -->
        </div>

        <ul class="list-none mb-0 space-x-1">
            <!-- Country Dropdown -->
            <li class="inline-block relative">
                <a href="{{ path('app_home_index') }}">
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-blue-700 hover:text-white border hover:border-gray-100"><i data-feather="globe" class="h-4 w-4"></i></span></div>
                </a>
            </li>
            <!-- Country Dropdown -->

            <li class="inline-block relative">
                <a href="{{ path('app_logout') }}">
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-blue-700 hover:text-white border hover:border-gray-100"><i data-feather="log-out" class="h-4 w-4"></i></span></div>
                </a>
            </li>
        </ul>
    </div>
</div>