<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper sidebar-colored">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="{{ path('app_admin_dashboard_index') }}"><img src="{{ asset('images/logo/logo-tech-talent-hub-light.png') }}" height="24" alt=""></a>
        </div>

        <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">
            <li class="">
                <a href="{{ path('app_admin_dashboard_index') }}"><i class="uil uil-clipboard me-2"></i>Tableau de Bord</a>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-invoice me-2"></i>Offres</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_offer_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_offer_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-programming-language me-2"></i>Technologies</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_tag_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_tag_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-invoice me-2"></i>Métiers</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_job_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_job_new', {'level': 'parent'}) }}">Ajouter une catégorie</a></li>
                        <li><a href="{{ path('app_admin_job_new', {'level': 'child'}) }}">Ajouter un métier</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-file-contract me-2"></i>Partenaires</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_partner_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_partner_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-map-marker me-2"></i>Villes</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_city_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_city_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-building me-2"></i>Sociétés</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_company_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_company_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-wrench me-2"></i>Savoirs Faire</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_hardskill_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_hardskill_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-head-side me-2"></i>Savoirs Etre</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_softskill_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_softskill_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-graduation-cap me-2"></i>Formations</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_formation_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_formation_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-language me-2"></i>Langues</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_language_index') }}">Liste</a></li>
                        <li><a href="{{ path('app_admin_language_new') }}">Ajouter</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-robot me-2"></i>Planifications</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_scheduler_analysis', {'type': null}) }}">Liste des Analyses</a></li>
                        <li><a href="{{ path('app_admin_scheduler_fetchs', {'type': null}) }}">Liste des Récupérations</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="uil uil-setting me-2"></i>Paramètres</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{{ path('app_admin_navbar_index') }}">Gestion du Menu</a></li>
                        <li><a href="{{ path('app_admin_tag_type_index') }}">Gestion des Technologies</a></li>
                        <li><a href="{{ path('app_admin_user_index') }}">Gestion des Utilisateurs</a></li>
                        <li><a href="{{ path('app_admin_post_index') }}">Gestion du Blog</a></li>
                        <li><a href="{{ path('app_admin_parameters_index') }}">Gestion des Paramètres</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- sidebar-menu  -->
    </div>
</nav>
<!-- sidebar-wrapper  -->