<form method="post" action="{{ path('app_admin_job_delete', {'id': job.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Métier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
