<div class="p-6 relative rounded-md shadow bg-white">
    {{ form_start(form, {'attr': {'class': 'text-start form-error'}}) }}
    <div class="form-error text-white">
        {{ form_errors(form) }}
    </div>

    <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-5">
        <div class="lg:col-span-12">
            <div class="p-6 bg-white shadow rounded-md">
                <table class="w-full text-start">
                    <tbody>
                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4" style="width: 100px;">Nom:</td>
                            <td class="text-slate-400 py-4">{{ job.name }}</td>
                        </tr>

                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4">Total</td>
                            <td class="text-slate-400 py-4">{{ job.countOffer }}</td>
                        </tr>

                        <tr class="bg-white border-b border-gray-100">
                            <td class="font-semibold py-4">Actif</td>
                            <td class="text-slate-400 py-4">
                                {% if job.isActive %}Oui{% else %}Non{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="lg:col-span-12">
            <div class="p-6 bg-white shadow rounded-md">
                {{ form_row(form.parent) }}
            </div>
        </div>
    </div>

    <!-- button -->
    {% include 'components/admin/_admin_form_button.html.twig' with {'button': button} %}

    {{ form_end(form)}}
</div>