{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Liste des Métiers{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->

    <!-- Start Header -->
    {% include 'components/admin/_admin_header_define.html.twig' with {
        'title' : 'Liste des Métiers',
        'hrefDefine': (countJobToDefine > 0) ? path('app_admin_job_define') : null,
        'href': null,
        'hrefParent': path('app_admin_job_new', {'level': parent}),
        'hrefChild': path('app_admin_job_new', {'level': child}),
        'nameDefine': 'Catégories à Définir',
        'nameParent': 'Catégories',
        'nameChild': 'Métiers',
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_job_type.html.twig' with {
        'href': path('app_admin_job_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': jobs.getTotalItemCount,
                'entity': (jobs.getTotalItemCount > 1) ? 'métiers' : 'métier',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[150px]">Catégorie</td>
                        <th class="text-center p-4 min-w-[150px]">Métier</td>
                        <th class="text-center p-4 min-w-[60px]">Total</td>
                        <th class="text-center p-4 min-w-[60px]">Actif</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    {% set level = (job.parent is null) ? parent : child %}
                    <tr>
                        <td class="text-center p-4">{{ (job.parent is null) ? null : job.parent.name }}</td>
                        <td class="text-center p-4">
                            <a href="{{ path('app_admin_job_edit', {'id': job.id, 'level': level}) }}" alt="{{ job.name }}">{{ job.name }}</a></td>
                        <td class="text-center p-4">{{ job.countOffer }}</td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ job.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ job.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_job_edit', {'id': job.id, 'level': level})} %}
                            <!-- delete -->
                            {{ include('pages/admin/job/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = jobs %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
