@tailwind base;
@tailwind components;
@tailwind utilities;

.ts-control:not(.rtl) {
    padding-right: max(var(--ts-pr-min), var(--ts-pr-clear-button) + var(--ts-pr-caret)) !important;
}
.ts-control, .ts-wrapper.single.input-active .ts-control {
    background: #fff;
    cursor: text;
}

.ts-dropdown, .ts-control, .ts-control input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
}
.ts-control {
    border: 1px solid #d0d0d0;
    padding: 8px 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}

.admin input:required,
.admin .ts-wrapper.single.required .ts-control {
    --tw-border-opacity: 1 !important;
    background-color: rgb(166 189 240 / var(--tw-border-opacity)) !important;
    background-image: linear-gradient(to bottom, #bccdf3, #d2ddf7);
}

.admin [type='radio'] {
    border-color: rgb(229, 231, 235);
}

.admin [type='radio']:checked {
    background-color: currentColor !important;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}

textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    resize: vertical;
}

.class-label {
    font-weight: 600 !important;
}

.alert-success {
    background-color: rgb(0 205 0 / 0.7) !important;
    color: white !important;
}
.alert-danger {
    background-color: rgb(255 0 0 / 0.7) !important;
    color: white !important;
}