{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Récupérer les Paramètres France Travail{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Récupérer les Paramètres France Travail',
        'href': null,
    } %}
    <!-- End Header -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            <div class="grid grid-cols-1">
                <div class="title-heading text-center my-auto p-8">
                    <h1 class="mt-6 mb-8 md:text-5xl text-3xl font-bold">Attention</h1>
                    <p class="text-slate-400 max-w-xl mx-auto">Vous devez récupérer les paramètres sur le site France Travail pour utiliser les planifications de Tech Talent Hub.</p>
                    
                    <div class="mt-6 mb-6">
                        <a href="https://francetravail.io/login" target="_blank" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md">France Travail</a>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1">
                <div class="title-heading text-center my-auto p-8">
                    <h1 class="mt-6 mb-8 md:text-5xl text-3xl font-bold">Paramètres</h1>
                    <p class="text-slate-400 max-w-xl mx-auto">Quand vous aurez récupérer le client id, le client secret et le scope, vous devrez la Gestion des Paramètres afin de pouvoir récupérer les offres.</p>
                    
                    <div class="mt-6">
                        <a href="{{ path('app_admin_parameters_index') }}" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Paramètres</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}

