{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Gestion des Paramètres{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Gestion des Paramètres',
        'href': null,
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_parameters_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': parameters.getTotalItemCount,
                'entity': (parameters.getTotalItemCount > 1) ? 'paramètres' : 'paramètre',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[60px]">Clé</td>
                        <th class="text-center p-4 min-w-[120px]">Valeur</td>
                        <th class="text-center p-4 min-w-[40px]">Type</td>
                        <th class="text-center p-4 min-w-[60px]">Section</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for parameter in parameters %}
                    <tr>
                        <td class="text-center p-4">{{ parameter.key }}</td>
                        <td class="text-center p-4">{{ parameter.value|json_encode() }}</td>
                        <td class="text-center p-4">{{ parameter.type|capitalize }}</td>
                        <td class="text-center p-4">{{ parameter.section }}</td>
                        <th class="flex space-x-2 justify-center items-center p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_parameters_edit', {'id': parameter.id})} %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = parameters %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}

