<form method="post" action="{{ path('app_admin_navbar_delete', {'id': navbar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Menu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ navbar.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
