{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech talent Hub - Gestion du Menu{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Header -->
    {% include 'components/admin/_admin_header.html.twig' with {
        'title' : 'Gestion du Menu',
        'href': path('app_admin_navbar_new'),
    } %}
    <!-- End Header -->

    <!-- Start Search -->
    {% include 'components/admin/_admin_search_type.html.twig' with {
        'href': path('app_admin_navbar_index'),
    } %}
    <!-- End Search -->

    <div class="grid grid-cols-1 mt-6">
        <div class="relative overflow-x-auto block w-full bg-white shadow rounded-md">
            {% include 'components/admin/_admin_total_count.html.twig' with {
                'total': navbars.getTotalItemCount,
                'entity': (navbars.getTotalItemCount > 1) ? 'menus' : 'menu',
            }%}
            <table class="w-full text-start">
                <thead class="text-base bg-indigo-600 text-white">
                    <tr>
                        <th class="text-center p-4 min-w-[60px]">Nom</td>
                        <th class="text-center p-4 min-w-[60px]">Lien</td>
                        <th class="text-center p-4 min-w-[40px]">Visible</td>
                        <th class="text-center p-4 min-w-[40px]">Position</td>
                        <th class="text-center p-4">Actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for navbar in navbars %}
                    <tr>
                        <td class="text-center p-4">{{ navbar.name }}</td>
                        <td class="text-center p-4">{{ navbar.path }}</td>
                        <td class="text-center p-4">
                            <span class="text-[12px] font-bold px-2.5 py-0.5 rounded h-5 {{ navbar.isActive ? 'bg-emerald-600 text-white' : 'bg-red-600 text-white' }}">
                                {{ navbar.isActive ? 'Oui' : 'Non' }}
                            </span>
                        </td>
                        <td class="text-center p-4">{{ navbar.position }}</td>
                        <th class="flex space-x-2 justify-center items-center border-t border-gray-100 p-4">
                            <!-- edit -->
                            {% include "components/admin/_admin_link_edit.html.twig" with {'href': path('app_admin_navbar_edit', {'id': navbar.id})} %}
                            <!-- delete -->
                            {{ include('pages/admin/parameters/navbar/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {% include 'components/admin/_admin_alert_no_items.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% set datas = navbars %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/admin/_admin_pagination.html.twig') }}
        <!-- pagination -->
    </div>
    <!-- End Content -->
{% endblock %}
