{% extends 'base.html.twig' %}

{% block title %}Navbar{% endblock %}

{% block body %}
    <h1>Navbar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Path</td>
                <td>{{ navbar.path }}</td>
            </tr>
            <tr>
                <th>Position</td>
                <td>{{ navbar.position }}</td>
            </tr>
            <tr>
                <th>Active</td>
                <td>{{ navbar.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ navbar.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ navbar.name }}</td>
            </tr>
            <tr>
                <th>Slug</td>
                <td>{{ navbar.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</td>
                <td>{{ navbar.createdAt ? navbar.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_navbar_index') }}">back to list</a>

    <a href="{{ path('app_navbar_edit', {'id': navbar.id}) }}">edit</a>

    {{ include('navbar/_delete_form.html.twig') }}
{% endblock %}
