{% set fontSize = (fontSize is defined and fontSize is not empty) ? fontSize : 'text-sm' %}
{% if data is defined and data is not empty %}
<div class="w-full px-4 py-2">
    {% if label is defined and label is not empty%}
        <p class="font-semibold">{{ label }}</p>
    {% endif %}
    <p class="{{ fontSize }} text-slate-400">
    {% if badge is defined and badge is not empty %}
        <span class="bg-emerald-600/5 border border-emerald-600/5 text-emerald-600 text-xs font-semibold px-2.5 py-0.5 rounded-full h-5">{{ badge }}</span>
    {% else %}
        {{ data }}
    {% endif %}
    </p>
</div>
{% endif %}