<div class="py-2 bg-white overflow-hidden flex">
    <div class="mr-4">
        <div class="relative overflow-hidden text-transparent -m-3">
            <i data-feather="hexagon" class="h-24 w-24 fill-indigo-600/5"></i>
            <div class="absolute top-2/4 -translate-y-2/4 start-8 text-slate-400 rounded-xl text-3xl flex align-middle justify-center items-center">
                <i class="uil {{ icon }}"></i>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-start">
        <p class="text-slate-400 mb-0">{{ label }} :</p>
        <h4 class="text-medium text-indigo-600">{{ data }}</h4>
    </div>
</div>