<a href="{{ link }}" class="group flex items-center relative overflow-hidden p-6 rounded-md shadow bg-gray-50 hover:bg-indigo-600 duration-500 mt-6 hover:cursor-pointer" title="{{ text }}">
    <span class="text-indigo-600 group-hover:text-white text-5xl font-semibold duration-500">
        <span>{{ count }}</span>
    </span>
    <div class="flex-1 ms-3">
        <h5 class="group-hover:text-white text-xl font-semibold duration-500">{{ text }}</h5>
        <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-2"></p>
    </div>
    <div class="absolute start-1 top-5 text-dark/[0.03]  text-8xl group-hover:text-white/[0.04] duration-500">
        <i class="uil {{ icon }}"></i>
    </div>
</a>