<section class="relative md:py-24 py-16">
    {% if search is defined and search == true %}
    <div class="container relative">
        <div class="grid lg:grid-cols-12 grid-cols-1">
            <div class="lg:col-start-2 lg:col-span-10">
                {% include 'pages/app/home/_search.html.twig' %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if title is defined and title is not null %}
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
            <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Les Offres les plus recherchées</h3>
                <p class="text-slate-400 max-w-xl">Recherchez l'offre qui vous correspond et qui vous rendra heureux d'aller travailler.</p>
            </div>
            <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
                <a href="{{ path('app_offer_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Toutes les Offres <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if link is defined and link is not null %}
    <!-- Start Breadcrumb -->
    {% include 'components/app/_app_breadcrumb.html.twig' with {
        'link': link,
        'linkTitle': linkTitle,
        'linkSubtitle': linkSubtitle ?? null
    } %}
    {% endif %}

    {% if offers is defined and offers is not null %}
        {% if offers|length > 0 %}
            <div class="container relative">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                {% for offer in offers %}
                    {% include 'components/app/_app_card_offer.html.twig' with {'offer': offer} %}
                {% endfor %}
                </div>

                <!-- pagination -->
                {% if app.request.get('_route') is not same as('app_home_index') %}
                    {% set datas = offers %}
                    {% do datas.setPageRange(2) %}
                    {{ knp_pagination_render(datas, 'components/app/_app_pagination.html.twig') }}
                {% endif %}
                <!-- pagination -->
            </div>
        {% else %}
            <div class="container relative">
                <div class="w-full p-6">
                    {% include 'components/app/_app_block_no_data.html.twig' with {'title': 'Nous sommes partis à la recherche des meilleures Offres du marché ...'} %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</section>