{% set frame = (frame is defined and frame is not empty) ? 'text-align bg-gray-50 shadow' : null %}
{% set marginTop = (marginTop is defined and marginTop == false) ? null : 'mt-8' %}
<h5 class="text-lg font-semibold p-2 {{ marginTop }} rounded-md {{ frame }}">{{ title }}</h5>