{% set title = (title is defined and title is not null) ? title : 'Aucune donnée' %}
<div class="grid grid-cols-1 mt-6">
    <div class="rounded-md shadow bg-gray-50 text-slate-400 border border-slate-400 block">
        <div class="p-6">
            <h3 class="md:text-xl md:leading-normal text-2xl leading-normal font-semibold text-center text-slate-400">{{ title }}</h3>
        </div>
    </div>
</div>