
<section class="relative md:py-24 py-16 bg-gray-50">
    <div class="container relative">
        <div class="grid md:grid-cols-2 grid-cols-1 items-center mt-16 gap-[30px]">
            <div class="relative">
                <img src="{{ asset('images/pages/training.png') }}" class="max-w-[440px] mx-auto" alt="">
                <div class="overflow-hidden absolute lg:size-[400px] size-[320px] bg-indigo-600/5 bottom-0 start-0 rotate-45 -z-1 rounded-3xl"></div>
            </div>

            <div class="lg:ms-8">
                <h4 class="mb-4 text-2xl leading-normal font-medium">Tests Techniques</h4>
                <p class="text-slate-400">Développeur, data, testeur, scrum master ou encore chef de projet : autant de métiers dont le processus de recrutement passe le plus souvent par un entretien technique.</p>
                <p class="text-slate-400 mt-4">Et bien que la nature du test ne soit généralement pas connue, il est important de s’y préparer afin d’adopter les bons comportements.</p>
                <p class="text-slate-400 mt-4">Il existe 3 règles essentielles afin d'être sûr que le poste visé correspond au profil et au niveau de compétences :</p>
                <ul class="list-none text-slate-400 mt-4">
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Se renseigner su l'entreprise</li>
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Réaliser une auto-évaluation honnête</li>
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Vérifier son adéquation au poste</li>
                </ul> <p class="text-slate-400 mt-4">Vous pourrez trouver içi différents sites qui vous aideront à passer les entretiens techniques.</p>

                <div class="mt-4">
                    <a href="{{ path('app_test_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">En savoir plus <i class="uil uil-angle-right-b align-middle"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>