<section class="relative md:py-24 py-16">
    {% if title is defined and title is not empty %}
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
            <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Recherche par Technologies</h3>
                <p class="text-slate-400 max-w-xl">Recherchez votre opportunité de carrière avec nos technologies</p>
            </div>

            <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
                <a href="{{ path('app_tag_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Toutes les Technologies <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if link is defined and link is not null %}
    <!-- Start Breadcrumb -->
    {% include 'components/app/_app_breadcrumb.html.twig' with {
        'link': link,
        'linkTitle': linkTitle,
        'linkSubtitle': linkSubtitle ?? null
    } %}
    {% endif %}

    {% if tags is defined and tags is not null %}
    <div class="container relative">
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">
            {% for key, tag in tags %}
            {% if tag.countOffer > 0 %}
                {% set class = (key is even) ? 'shadow-xl shadow-gray-100 bg-white' : 'hover:shadow-xl hover:shadow-gray-100' %}
                {% set title = (tag.countOffer > 0 ) ? 'offres' : 'offre' %}
                <div class="p-6 mt-6 duration-500 text-center rounded-2xl  hover:bg-indigo-600/5 {{ class }}">
                    <div class="content mt-7">
                        <a href="{{ path('app_tag_show', {'slug': tag.slug, 'id': tag.id}) }}" class="title h5 text-lg font-medium hover:text-indigo-600">{{ tag.name|upper }}</a>
                        <p class="text-slate-400 mt-3">{{ tag.countOffer }} {{ title }}</p>
                        
                        <div class="mt-5">
                            <a href="{{ path('app_tag_show', {'slug': tag.slug, 'id': tag.id}) }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Voir <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>

        <!-- pagination -->
        {% set datas = tags %}
        {% do datas.setPageRange(2) %}
        {{ knp_pagination_render(datas, 'components/app/_app_pagination.html.twig') }}
        <!-- pagination -->
    </div><!--end container-->
    {% endif %}
</section>