{% if pageCount > 1 %}
<div class="grid md:grid-cols-12 grid-cols-1 mt-8">
    <div class="md:col-span-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="inline-flex items-center -space-x-px">

                {% if first is defined and current != first %}
                    <li class="px-1">
                        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full"><i class="mdi mdi-chevron-double-left"></i></a>
                    </li>
                {% endif %}

                {% if previous is defined %}
                    <li class="px-1">
                        <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                {% endif %}

                {% if startPage >= first and current != first %}
                    {% if current == (first + 1) %}
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): first })) }}">{{ first }}</a>
                        </li>
                    {% else %}
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): current - 2})) }}">{{ current - 2 }}</a>
                        </li>
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): current - 1 })) }}">{{ current - 1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page == current %}
                        <li class="px-1">
                            <span class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center border-dark bg-indigo-600 text-white rounded-full">{{ page }}</span>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if pageCount >= endPage and current != endPage %}
                    {% if current == (pageCount - 1) %}
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): pageCount })) }}">{{ pageCount }}</a>
                        </li>
                    {% else %}
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): current + 1 })) }}">{{ current + 1 }}</a>
                        </li>
                        <li class="px-1">
                            <a class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600 rounded-full" href="{{ path(route, query|merge({(pageParameterName): current +2 })) }}">{{ current +2 }}</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if next is defined %}
                    <li class="px-1">
                        <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                {% endif %}

                {% if last is defined and current != last %}
                    <li class="px-1">
                        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-gray-100 hover:bg-gray-200 border-gray-100 hover:border-indigo-600 text-slate-400 hover:text-indigo-600  rounded-full"><i class="mdi mdi-chevron-double-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <span class="text-slate-400 absolute h-8 flex items-center">Page {{ current }} sur {{ pageCount }}</span>
</div>
{% endif %}