<div class="rounded-md shadow hover:bg-indigo-600/5">
    <div class="flex justify-between items-center p-6 pb-0">
        <div>
        {% set time = (date(offer.createdAt) < date()) %}
        {% set days = (time > 1) ? 'jours' : 'jour' %}
        <span class="block text-xs text-slate-400">Il y a {{ time }} {{ days }}</span>
        <div class="flex justify-between items-center pt-2 h-5">
            {% if offer.countOfferCandidacies() > 0 %}
                {% set titleCandidacy = (offer.countOfferCandidacies() > 1) ? 'candidatures' : 'candidature' %}
                    <span class="bg-transparent border border-indigo-600 text-indigo-600 text-xs font-semibold px-2.5 py-0.5 rounded h-5 align-middle">{{ offer.countOfferCandidacies() }} {{ titleCandidacy }}</span>
            {% endif %}
        </div>
        </div>
        {% if app.user %}
        <a href="#" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-lg text-center bg-white border-0 shadow rounded-full text-slate-400" alt="Ajouter à mes Offres d'Emploi enregistrées">
            <i class="mdi mdi-heart"></i>
        </a>
        {% endif %}
    </div>

    <div class="p-6">
        <a href="{{ path('app_offer_show', {'slug': offer.slug, 'origin': origin}) }}" class="hover:text-indigo-600 hover:cursor-pointer" alt="{{ offer.title|raw }}">
            <h5 class="title h5 text-lg font-semibold h-20" title="{{ offer.title|title }}">{{ offer.title|title|u.truncate(60, ' ...') }}</h5>
            {% if offer.city is defined and offer.city is not null %}
                <p class="text-slate-400 mt-2"><i class="uil uil-map-marker text-indigo-600 me-1"></i> {{ offer.city.label }}</p>
            {% endif %}

            <div class="flex justify-start items-center mt-4">
                <span class="bg-indigo-600/5 text-indigo-600 text-xs font-bold px-2.5 py-0.5 rounded h-5 mr-2">{{ offer.contract }}</span>
                {% if offer.telework %}
                    <span class="bg-indigo-600/5 text-indigo-600 text-xs font-bold px-2.5 py-0.5 rounded h-5 mr-2">Télétravail</span>
                {% endif %}
                {% if offer.alternation %}
                    <span class="bg-indigo-600/5 text-indigo-600 text-xs font-bold px-2.5 py-0.5 rounded h-5 mr-2">Alternance</span>
                {% endif %}
            </div>

            {% if offer.tags is defined and offer.tags is not null %}
            <div class="flex justify-start items-center mt-4 h-5">
            {% for tag in offer.tags|slice(0,4) %}
                <span class="bg-{{tag.color}} text-white text-xs font-bold px-2.5 py-0.5 rounded h-5 mr-2">{{ tag.name }}</span>
            {% endfor %}
            {% if offer.tags|length > 4 %}
                <span class="bg-gray-200 text-gray-400 text-xs font-bold px-2.5 py-0.5 rounded h-5 mr-2">+{{ offer.tags|length - 4 }}</span>
            {% endif %}
            </div>
            {% endif %}
        </a>
    </div>

    <div>
        <a href="{{ path('app_offer_show', {'slug': offer.slug, 'origin': origin}) }}" class="hover:text-indigo-600 hover:cursor-pointer flex items-center p-6 border-t border-gray-100 h-24" alt="{{ offer.title|raw }}">
        {% if offer.partners is defined and offer.partners is not null %}
            {% for partner in offer.partners|slice(0,1)%}
                {% set logo = (partner.logo is not null) ? partner.logo : 'https://placehold.co/600x400' %}
                <img src="{{ logo }}" class="h-12 w-12 shadow-md rounded-md p-2 bg-white" alt="Logo de {{ partner.name }}">
                <h6 class="mb-0 p-2 font-semibold text-slate-400">{{ partner.name }}</h6>
            {% endfor %}
        {% endif %}
        </a>
    </div>
</div>