<section class="relative md:py-24 py-16">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Offres les plus populaires</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Recherchez tous les postes ouverts sur le Web. Obtenez votre propre estimation de salaire personnalisée. Lisez les avis de plus de 30 000 entreprises dans le monde.</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
        {% for offer in offers %}
            <div class="rounded-md shadow">
                <div class="p-6">
                    <a href="page-job-detail.html" class="title h5 text-lg font-semibold hover:text-indigo-600">Software Engineering</a>
                    <p class="text-slate-400 mt-2"><i class="uil uil-clock text-indigo-600"></i> Posted 3 Days ago</p>

                    <div class="flex justify-between items-center mt-4">
                        <span class="bg-indigo-600/5 text-indigo-600 text-xs font-bold px-2.5 py-0.5 rounded h-5">Full Time</span>

                        <p class="text-slate-400"><i class="uil uil-usd-circle text-indigo-600"></i> $950 - $1100/mo</p>
                    </div>
                </div>

                <div class="flex items-center p-6 border-t border-gray-100 dark:border-gray-700">
                    <img src="assets/images/client/facebook-logo-2019.png" class="size-12 shadow-md dark:shadow-gray-800 rounded-md p-2 bg-white dark:bg-slate-900" alt="">

                    <div class="ms-3">
                        <h6 class="mb-0 font-semibold text-base">Facebook Ltd.</h6>
                        <span class="text-slate-400 text-sm">Australia</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div><!--end grid-->
        
        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
            <div class="md:col-span-12 text-center">
                <a href="{{ path('app_offer_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Vois plus d'Offres <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

</section>