
<section class="relative md:py-24 py-16">
    <div class="container relative">
        <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
            <div class="relative order-1 md:order-2">
                <img src="{{ asset('images/pages/salary.png') }}" class="max-w-[440px] mx-auto" alt="">
                <div class="overflow-hidden absolute lg:size-[400px] size-[320px] bg-indigo-600/5 bottom-0 end-0 rotate-45 -z-1 rounded-3xl"></div>
            </div>

            <div class="lg:me-8 order-2 md:order-1">
                <h4 class="mb-4 text-2xl leading-normal font-medium">Baromètre des Salaires</h4>
                <p class="text-slate-400 mt-4">Définir le salaire que l'on peut demander à la société où on postule n'est pas toujours évident.<br>Pourtant c'est très important pour le candidat car :</p>
                <ul class="list-none text-slate-400 mt-4">
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Notre métier varie beaucoup suivant les entreprises</li>
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> La rémunération est plafonnée par la valeur que j'apporte</li>
                    <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Sinon le salaire sera tiré vers le bas</li>
                </ul>
                <p class="text-slate-400 mt-4">Vous pourrez trouver içi différents sites qui vous aideront à déterminer le salaire auquel vous pouvez prétendre.</p>

                <div class="mt-4">
                    <a href="{{ path('app_salary_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">En savoir plus <i class="uil uil-angle-right-b align-middle"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>