
<section class="relative md:py-24 py-16 bg-gray-50">
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
            <div class="lg:col-span-5 md:col-span-6">
                <div class="grid gap-6 items-center">
                    <img src="{{ asset('images/pages/presentation.png') }}" class="rounded-md" alt="Image de la section présentation de la société Tech Talent Hub">
                </div>
            </div>

            <div class="lg:col-span-7 md:col-span-6">
                <div class="lg:ms-5">
                    <h3 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-medium">Un choix permanent<br>d'Offres d'Emploi</h3>

                    <p class="text-slate-400 max-w-xl mb-2">Tech Talent Hub utilise l'API de France Travail afin de récupérer toutes les offres dédiées aux développeurs, aux datas, aux testeurs, aux chefs de projet ou aux scrums.</p>
                    <p class="text-slate-400 max-w-xl mb-2">Plus de {{ countOffers }} {{ (countOffers > 1) ? 'offres mises' : 'offre mise'}} à jour quotidiennement.</p>
                    <p class="text-slate-400 max-w-xl mb-2">A partir de votre tableau de bord, vous pouvez suivre les offres que vous avez enregistrées, vous pouvez effectuer votre candidature et avoir un suivi pour vos relances.</p>
                    <p class="text-slate-400 max-w-xl">Vous trouverez également un espace pour vous entrainer ou pour avoir une visiblité sur le salaire que vous pourrez demander.</p>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="container relative mt-12">
        <div class="grid grid-cols-2 md:grid-cols-4">
            <div class="counter-box relative text-center">
                <h3 class="font-extrabold lg:text-[72px] text-[50px] opacity-5"><span class="counter-value" data-target="{{ countOffers }}">{{ countOffers }}</span></h3>
                <span class="counter-head font-semibold text-xl absolute top-2/4 start-0 end-0">{{ (countOffers > 1) ? 'Offres' : 'Offre'}}</span>
            </div><!--end counter box-->

            <div class="counter-box relative text-center">
                <h3 class="font-extrabold lg:text-[72px] text-[50px] opacity-5"><span class="counter-value" data-target="{{ countTags }}">{{ countTags }}</span></h3>
                <span class="counter-head font-semibold text-xl absolute top-2/4 start-0 end-0">{{ (countTags > 1) ? 'Technologies' : 'Technologie'}}</span>
            </div><!--end counter box-->

            <div class="counter-box relative text-center">
                <h3 class="font-extrabold lg:text-[72px] text-[50px] opacity-5"><span class="counter-value" data-target="{{ countPartners }}">{{ countPartners }}</span></h3>
                <span class="counter-head font-semibold text-xl absolute top-2/4 start-0 end-0">{{ (countPartners > 1) ? 'Partenaires' : 'Partenaire'}}</span>
            </div><!--end counter box-->

            <div class="counter-box relative text-center">
                <h3 class="font-extrabold lg:text-[72px] text-[50px] opacity-5"><span class="counter-value" data-target="{{ countPosts }}">{{ countPosts }}</span></h3>
                <span class="counter-head font-semibold text-xl absolute top-2/4 start-0 end-0">{{ (countPosts > 1) ? 'Billets' : 'Billet'}}</span>
            </div><!--end counter box-->
        </div><!--end grid-->
    </div><!--end container-->
</section>