<section class="relative md:py-24 py-16">
    {% if title is defined and title is not null %}
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
            <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
                <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Recherche par Partenaires</h3>
                <p class="text-slate-400 max-w-xl">Recherchez votre opportunité de carrière sur d'autres sites de recrutement pour les développeurs</p>
            </div>
            <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
                <a href="{{ path('app_partner_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Tous les Partenaires <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if link is defined and link is not null %}
    <!-- Start Breadcrumb -->
    {% include 'components/app/_app_breadcrumb.html.twig' with {
        'link': link,
        'linkTitle': linkTitle,
        'linkSubtitle': linkSubtitle ?? null
    } %}
    {% endif %}

    {% if partners is defined and partners is not null %}
    <div class="container relative">
    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-[30px]">
        {% for partner in partners %}
            {% if partner.countOffer > 0 %}
                {% set logo = (partner.logo is defined and partner.logo is not null) ? partner.logo : 'https://placehold.co/600x400' %}
                <a href="{{ path('app_partner_show', {'slug': partner.slug}) }}" class="group bg-white rounded shadow hover:shadow-md border-4 border-white hover:border-b-indigo-600 text-center duration-500 ease-in-out flex flex-col justify-center items-center p-6" title="Visiter le site du partenaire {{ partner.name }}">
                    <img src="{{ logo }}" class="size-16 mx-auto p-3 rounded-full bg-gray-50 shadow-md w-20 h-20" alt="Logo du partenaire {{ partner.name }}">

                    <div class="content mt-3">
                        <span class="text-lg font-semibold group-hover:text-indigo-600 duration-500 block">{{ partner.name }}</span>
                        <p class="text-slate-400 mt-3">{{ partner.countOffer }} {{ (partner.countOffer > 0) ? 'offres' : 'offre' }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div><!--end grid-->

    <!-- pagination -->
    {% set datas = partners %}
    {% do datas.setPageRange(2) %}
    {{ knp_pagination_render(datas, 'components/app/_app_pagination.html.twig') }}
    <!-- pagination -->
    </div><!--end container-->
    {% endif %}
</section>