<div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
    <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
        <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Recherche</h3>
        <p class="text-slate-400 max-w-xl">Recherchez votre opportunité de carrière au sein de toutes les Offres</p>
    </div>

    <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
        <a href="{{ link }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Toutes les Offres <i class="uil uil-arrow-right align-middle"></i></a>
    </div>
</div>
