{% if link is defined and link is not null %}
{% set linkSubtitle = (linkSubtitle is defined and linkSubtitle is not null) ? linkSubtitle : 'Détail' %}
<!-- Start Breadcrumb -->
<div class="container relative">
    <div class="grid grid-cols-1 gap-[30px] my-8">
        <div class="shadow rounded bg-white">
            <div class="p-5 border-t border-gray-100">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="{{ path('app_home_index') }}" title="Lien vers Accueil">Accueil</a></li>
                    <li class="inline-block text-base text-slate-950 mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    {% if linkTitle != 'Accueil' %}
                        <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="{{ link }}" title="lien vers {{ linkTitle }}">{{ linkTitle }}</a></li>
                        <li class="inline-block text-base text-slate-950 mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    {% endif %}
                    <li class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">{{ linkSubtitle }}</li>
                </ul>
            </div>
        </div><!--end content-->
    </div>
</div>
<!-- End Breadcrumb -->
{% endif %}