{% set bgImage = (bgImage is defined and bgImage is not null) ? bgImage : null %}
{% set title = (title is defined and title is not null) ? title : null %}
{% set description = (description is defined and description is not null) ? description : null %}
{% set bg = (bg is defined and bg is not null) ? 'bg-black' : null %}
<section class="relative table w-full bg-indigo-600 py-36 lg:py-44 {{ bgImage }}">
    <div class="absolute inset-0 {{ bg }} opacity-80"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            {% if logo is defined and logo is not null %}
                <img src="{{ logo }}" class="size-16 mx-auto p-3 mb-4 rounded-full bg-gray-50 dark:bg-slate-800 shadow-md w-20 h-20" alt="Logo du partenaire {{ title|upper}}">
            {% endif %}

            {% if title is defined and title is not null %}
                <h1 class="mb-4 md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">{{ title|upper }}</h1>
            {% endif %}

            {% if description is defined and description is not null %}
                <p class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white mt-4">{{ description }}</p>
            {% endif %}

            {% if count is defined and count is not null %}
                <p class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white mt-4">{{ count }} {{ countTitle }}</p>
            {% endif %}

            {% if url is defined and url is not null %}
                <div class="mt-6">
                    <a href="{{ url }}" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100 rounded-md me-2 mt-2"><i class="uil uil-external-link-alt"></i> Visiter le Site</a>
                </div>
            {% endif %}
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->

<!-- Shape -->
{% include 'components/app/_app_shape.html.twig' %}
<!-- End Shape -->