<li class="navbar-item account-menu">
    <a href="{{ link }}" class="navbar-link text-slate-400 flex items-center py-2 rounded" title="{{ title }}">
        <span class="me-2 text-[18px] mb-0">
            <i class="uil {{ icon }}"></i>
        </span>
        <h6 class="mb-0 font-semibold">{{ title }}</h6>
    </a>
</li>