.banner-home {
    background-image: url('../../images/banner/banner-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-offer {
    background-image: url('../../images/banner/banner-offer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-salary {
    background-image: url('../../images/banner/banner-salary.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-training {
    background-image: url('../../images/banner/banner-training.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-tag {
    background-image: url('../../images/banner/banner-tag.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-partner {
    background-image: url('../../images/banner/banner-partner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-show-tag {
    background-image: url('../../images/banner/banner-show-tag.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-show-partner {
    background-image: url('../../images/banner/banner-show-partner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-login {
    background-image: url('../../images/banner/banner-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-register {
    background-image: url('../../images/banner/banner-register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-forgot-password {
    background-image: url('../../images/banner/banner-forgot-password.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-reset-password {
    background-image: url('../../images/banner/banner-reset-password.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-account {
    background-image: url('../../images/banner/banner-account.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-post {
    background-image: url('../../images/pages/post.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-\[url\(\'\.\.\/\.\.\/images\/banner\/banner-show-partner\.png\'\)\] {
    background-image: url(../../images/banner/banner-show-partner.png) !important;
}