<div style="margin-top: 50px;">
    <table cellpadding="0" cellspacing="0" style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        {% include "components/email/_mail_table_thead.html.twig" %}

        <tbody>
            <tr>
                <td style="padding: 48px 24px 0; color: #161c2d; font-size: 18px; font-weight: 600;">
                        Création d'un Administrateur
                    </td>
            </tr>
            <tr>
                <td style="padding: 24px 24px 0;">
                    <table cellpadding="0" cellspacing="0" style="border: none;">
                        <tbody>
                            <tr>
                                <td style="min-width: 130px;">Date :</td>
                                <td style="color: #8492a6;">{{ date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td style="padding: 24px;">
                    <div style="display: block; overflow-x: auto; -webkit-overflow-scrolling: touch; border-radius: 6px; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
                        <table cellpadding="0" cellspacing="0">
                            <thead class="bg-gray">
                                <tr>
                                    <th scope="col" style="text-align: left; vertical-align: bottom; border-top: 1px solid #dee2e6; padding: 12px; width: 200px;">Email</th>
                                    <th scope="col" style="text-align: left; vertical-align: bottom; border-top: 1px solid #dee2e6; padding: 12px;">Nom</th>
                                    <th scope="col" style="text-align: left; vertical-align: bottom; border-top: 1px solid #dee2e6; padding: 12px;">Admin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left; padding: 12px; border-top: 1px solid #dee2e6;">{{ mail }}</td>
                                    <td style="text-align: left; padding: 12px; border-top: 1px solid #dee2e6;">{{ fullname }}</td>
                                    <td style="text-align: end; padding: 12px; border-top: 1px solid #dee2e6;">{{ admin }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            {% include "components/email/_mail_table_tfoot.html.twig" %}
        </tbody>
    </table>
</div>