<div style="margin-top: 50px;">
    <table cellpadding="0" cellspacing="0" style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        {% include "components/email/_mail_table_thead.html.twig" %}

        <tbody>
            <tr>
                <td style="padding: 48px 24px 0; color: #161c2d; font-size: 18px; font-weight: 600;">
                    Bonjour, {{ user.fullname }}
                </td>
            </tr>
            <tr>
                <td style="padding: 15px 24px 15px; color: #8492a6;">
                    Merci d'avoir créé un compte sur le site Tech Talent Hub.<br>Pour continuer, veuillez confirmer votre adresse e-mail en cliquant sur le bouton ci-dessous :
                </td>
            </tr>

            <tr>
                <td style="padding: 15px 24px;">
                    <a href="{{ url|raw }}" style="padding: 8px 20px; outline: none; text-decoration: none; font-size: 16px; letter-spacing: 0.5px; transition: all 0.3s; font-weight: 600; border-radius: 6px; background-color: #4f46e5; border: 1px solid #4f46e5; color: #ffffff;">Confirmez votre adresse email</a>
                </td>
            </tr>

            <tr>
                <td style="padding: 15px 24px 0; color: #8492a6;">
                    Ce lien sera actif pendant 30 minutes à compter de l'envoi de cet e-mail.
                </td>
            </tr>

            {% include "components/email/_mail_table_tfoot.html.twig" %}
        </tbody>
    </table>
</div>