<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Tech Talent Hub - Dashboard
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tailwind CSS Saas & Software Landing Page Template">
        <meta name="keywords" content="agency, application, business, clean, creative, cryptocurrency, it solutions, modern, multipurpose, nft marketplace, portfolio, saas, software, tailwind css">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="2.1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('admin') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="font-nunito text-base text-black admin">
		<!-- Start Page Loading -->
        <div class="page-wrapper toggled">
            {% include "partials/admin/_navbar.html.twig" %}

            <!-- Start Page Content -->
            <main class="page-content bg-gray-50">
                <!-- Top Header -->
                {% include "partials/admin/_header.html.twig" %}
                <!-- Top Header -->

                <div class="container-fluid relative px-3">
                    <div class="layout-specing">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- Footer -->
                    {% include "partials/admin/_footer.html.twig" %}
                    <!-- End Footer -->
                </div><!--end container-->
            </main>
            <!--End page-content" -->
        </div>
        <!-- page-wrapper -->
	</body>
</html>