{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Mon Compte
{% endblock %}

{% block body %}
<section class="relative lg:pb-24 pb-16">
	<!-- Start Hero -->
	{% include 'components/app/_app_hero.html.twig' with {
        'bgImage': 'banner-account',
        'bg': true,
        'title': 'Mon Compte',
        'description': null,
    } %}
	<!-- End Hero -->

    <div class="container relative md:mt-24 mt-16">
        <div class="md:flex">
            {% include "partials/app/_account_navbar.html.twig" %}

            <div class="lg:w-3/4 md:w-2/3 md:px-3 mt-[30px] md:mt-0">

                {% block page %}
                {% endblock %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
