{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Tableau de Bord{% endblock %}

{% block body %}
    <!-- Start Preloader -->
    {% include 'components/admin/_admin_preloader.html.twig' %}
    <!-- End Preloader -->
    
    <!-- Start Content -->
    <div class="flex justify-between items-center">
        <div>
            <h5 class="text-xl font-bold">Bonjour, {{ app.user.fullname|title }}</h5>
            <h6 class="text-slate-400 font-semibold">Bienvenue !</h6>
        </div>
    </div>

    <div class="grid xl:grid-cols-5 md:grid-cols-3 grid-cols-1 mt-6 gap-6">
        <!-- Icon Offers -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Offres',
            'count': countOffers,
            'icon': 'mdi-briefcase',
            'href': path('app_admin_offer_index'),
        } %}
        <!-- Icon Offers -->

        <!-- Icon Tags -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Technologies',
            'count': countTags,
            'icon': 'mdi-application-brackets',
            'href': path('app_admin_tag_index'),
        } %}
        <!-- Icon Tags -->

        <!-- Icon Jobs -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Métiers',
            'count': countJobs,
            'icon': 'mdi-briefcase',
            'href': path('app_admin_job_index'),
        } %}
        <!-- Icon Jobs -->

        <!-- Icon Partners -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Partenaires',
            'count': countPartners,
            'icon': 'mdi-account-group',
            'href': path('app_admin_partner_index'),
        } %}
        <!-- Icon Partners -->

        <!-- Icon Users -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Utilisateurs',
            'count': countUsers,
            'icon': 'mdi-account',
            'href': path('app_admin_user_index'),
        } %}
        <!-- Icon Users -->

        <!-- Icon Cities -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Villes',
            'count': countCities,
            'icon': 'mdi-map-marker-radius',
            'href': path('app_admin_city_index'),
        } %}
        <!-- Icon Cities -->

        <!-- Icon Companies -->
        {% include 'components/admin/_admin_card_dashboard.html.twig' with {
            'name': 'Sociétés',
            'count': countCompanies,
            'icon': 'mdi-office-building',
            'href': path('app_admin_company_index'),
        } %}
        <!-- Icon Companies -->
    </div>

    {% if countOffers > 0 %}
    <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-6">
        <div class="lg:col-span-12">
            <div class="relative overflow-hidden rounded-md shadow bg-white">
                <div class="p-6 flex items-center justify-between border-b border-gray-100">
                    <h6 class="text-lg font-semibold">Les Offres par Départements</h6>
                    
                    <a href="{{ path('app_admin_offer_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500">Voir <i class="uil uil-arrow-right"></i></a>
                </div>

                <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                    <table class="w-full text-start">
                        <thead class="text-base bg-indigo-600 text-white">
                            <tr>
                                <th class="text-start font-semibold text-[15px] p-4 min-w-[100px]">Code du Département</td>
                                <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Département</td>
                                <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offersByDepartment %}
                            <tr>
                                <th class="text-start border-t border-gray-100 p-4 font-semibold">{{ offer.department_code }}</td>
                                <td class="text-start border-t border-gray-100 p-4">{{ offer.department_name }}</td>
                                <td class="text-start border-t border-gray-100 p-4">{{ offer.number_offers }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- End Content -->

    <div class="grid lg:grid-cols-12 grid-cols-1 mt-6 gap-6">
        <div class="lg:col-span-12">
            <div class="relative overflow-hidden rounded-md shadow bg-white">
                <div class="p-6 flex items-center justify-between border-b border-gray-100">
                    <h6 class="text-lg font-semibold">Les Offres par Technologies</h6>
                    
                    <a href="{{ path('app_admin_offer_index') }}" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-slate-400 hover:text-indigo-600 after:bg-indigo-600 duration-500">Voir <i class="uil uil-arrow-right"></i></a>
                </div>

                <div class="relative overflow-x-auto block w-full max-h-[400px]" data-simplebar>
                    <table class="w-full text-start">
                        <thead class="text-base bg-indigo-600 text-white">
                            <tr>
                                <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Technologie</td>
                                <th class="text-start font-semibold text-[15px] p-4 min-w-[128px]">Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offersByTag %}
                            <tr>
                                <th class="text-start border-t border-gray-100 p-4 font-semibold">{{ offer.name }}</td>
                                <td class="text-start border-t border-gray-100 p-4">{{ offer.number_offers }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End Content -->
{% endblock %}
