{% extends 'base.html.twig' %}

{% block title %}Tech talent Hub - Inscription
{% endblock %}

{% block body %}
	<section class="md:h-screen py-36 flex items-center banner-register">
		<div class="absolute inset-0 bg-black opacity-80"></div>
		<div class="container relative">
			<div class="flex justify-center">
				<div class="max-w-[400px] w-full m-auto p-6 bg-white shadow-md rounded-md">
					<a href="{{ path('app_home_index') }}"><img src="{{ asset('img/logo-tech-talent-hub-light.png') }}" class="mx-auto" alt=""></a>
					<h1 class="my-6 text-xl font-semibold">S'enregistrer</h1>
					{{ form_start(registrationForm, {'attr': {'class': 'text-start form-error'}}) }}

					<div class="grid grid-cols-1">
						{{ form_row(registrationForm.fullname) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.plainPassword) }}
						{{ form_row(registrationForm.rgpd) }}
						{{ form_row(registrationForm.terms) }}
						<div class="mb-4">
							<button type="submit" class="py-2 px-5 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md w-full">S'enregistrer</button>
						</div>
						{{ form_end(registrationForm) }}

						<div class="text-center mb-4">
							<span class="text-slate-400 me-2">Déjà un compte ?
							</span>
							<a href="{{ path('app_login') }}" class="text-black font-bold inline-block">Se connecter</a>
						</div>

						<div class="text-center">
							<span class="text-slate-400 me-2">Voir
							</span>
							<a href="#" target="_blank" class="text-indigo-600 dark:text-white font-bold inline-block">les Termes et Conditions</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!--end section -->{% endblock %}
