<div class="lg:w-1/4 md:w-1/3 md:px-3">
    <div class="relative md:-mt-48 -mt-32">
        <div class="p-6 rounded-md shadow bg-white">
        {% if app.user %}
            <div class="profile-pic text-center mb-5">
                <div>
                    <div class="relative size-28 mx-auto">
                        <img src="{{ asset('images/illustrator/creativity-bro.svg') }}" class="rounded-full shadow ring-4 ring-slate-50" id="profile-image" alt="Image du Profil">
                    </div>

                    <div class="mt-4">
                        <h5 class="text-lg font-semibold">Bienvenue</h5>
                        <p class="text-slate-400">{{ account.fullname|title }}</p>
                    </div>
                </div>
            </div>

            <div class="border-t border-gray-100">
                <ul class="list-none sidebar-nav mb-0 mt-3" id="navmenu-nav">

                    {% include 'components/app/_app_account_navbar_item.html.twig' with {
                        'link': path('app_account_index'),
                        'title': 'Mon Profil',
                        'icon': 'uil-dashboard'
                    }%}
                    
                    {% include 'components/app/_app_account_navbar_item.html.twig' with {
                        'link': path('app_account_candidacies'),
                        'title': 'Mes Candidatures',
                        'icon': 'uil-weight'
                    }%}

                    {% include 'components/app/_app_account_navbar_item.html.twig' with {
                        'link': path('app_account_likes'),
                        'title': 'Mes Offres',
                        'icon': 'uil-bookmark'
                    }%}

                    {% include 'components/app/_app_account_navbar_item.html.twig' with {
                        'link': path('app_account_searches'),
                        'title': 'Mes Recherches',
                        'icon': 'uil-bell'
                    }%}

                    {% set admin = app.user and "ROLE_ADMIN" in app.user.roles %}
                    {% if not admin %}
                        {% include 'components/app/_app_account_navbar_item.html.twig' with {
                            'link': path('app_account_parameters'),
                            'title': 'Paramètres',
                            'icon': 'uil-setting'
                        }%}
                    {% endif %}

                    {% include 'components/app/_app_account_navbar_item.html.twig' with {
                        'link': path('app_logout'),
                        'title': 'Se Déconnecter',
                        'icon': 'uil-power'
                    }%}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</div>