<!-- Footer Start -->
<footer class="footer bg-dark-footer relative text-gray-200 mt-24">
    <div class="container relative text-center">
        <div class="grid grid-cols-1">
            <div class="py-[30px] px-0">
                <div class="grid md:grid-cols-2 items-center">
                    <div class="md:text-start text-center">
                        <a href="{{ path('app_home_index') }}" class="text-[22px] focus:outline-none">
                            <img src="{{ asset('images/logo/logo-tech-talent-hub-light.png') }}" class="mx-auto md:me-auto md:ms-0" alt="Logo Tech Talent Hub">
                        </a>
                    </div>

                    <ul class="list-none footer-list md:text-end text-center mt-6 md:mt-0">
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Accueil</a></li>
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Technologies</a></li>
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Partenaires</a></li>
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Salaires</a></li>
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Entrainements</a></li>
                        <li class="inline"><a href="#" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Conditions</a></li>
                    </ul><!--end icon-->
                </div><!--end grid-->
            </div>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container relative text-center">
            <div class="grid grid-cols-1">
                <div class="text-center">
                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Tech Talent Hub with <i class="mdi mdi-heart text-red-600"></i> by <a href="https://fredolive.fr/" target="_blank" class="text-reset">Froldev</a>.</p>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->
