<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
    <div class="container relative">
        <!-- Logo container-->
        <a class="logo" href="{{ path('app_home_index') }}">
            <span class="inline-block">
                <img src="{{ asset('images/logo/logo-tech-talent-hub-dark.png') }}" class="l-dark" height="24" alt="">
                <img src="{{ asset('images/logo/logo-tech-talent-hub-light.png') }}" class="l-light" height="24" alt="">
            </span>
            <img src="{{ asset('images/logo/logo-tech-talent-hub-light.png') }}" height="24" class="hidden" alt="">
        </a>

        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" ,id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
        {% if app.user %}
            <li class="inline mb-0 mr-4">
                <a href="{{ path('app_account_index') }}" >
                    <div class="login-btn-primary"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-indigo-600 text-white"><i data-feather="user" class="h-4 w-4"></i></span></div>
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100"><i data-feather="user" class="h-4 w-4"></i></span></div>
                </a>
            </li>
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <li class="inline mb-0">
                <a href="{{ path('app_admin_dashboard_index') }}">
                    <div class="login-btn-primary"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-indigo-600 text-white"><i data-feather="clipboard" class="h-4 w-4"></i></span></div>
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100"><i data-feather="clipboard" class="h-4 w-4"></i></span></div>
                </a>
            </li>
            {% endif %}

            <li class="inline mb-0">
                <a href="{{ path('app_logout') }}">
                    <div class="login-btn-primary"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-indigo-600 text-white"><i data-feather="log-out" class="h-4 w-4"></i></span></div>
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100"><i data-feather="log-out" class="h-4 w-4"></i></span></div>
                </a>
            </li>
        {% else %}
            <li class="inline mb-0">
                <a href="{{ path('app_login') }}">
                    <span class="login-btn-primary"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-indigo-600 text-white"><i data-feather="log-in" class="h-4 w-4"></i></span></span>
                    <span class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100"><i data-feather="log-in" class="h-4 w-4"></i></span></span>
                </a>
            </li>
    
            <li class="inline ps-1 mb-0">
                <a href="{{ path('app_register') }}">
                    <div class="login-btn-primary"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-indigo-600 text-white"><i data-feather="user-plus" class="h-4 w-4"></i></span></div>
                    <div class="login-btn-light"><span class="h-9 w-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-gray-50 hover:bg-indigo-700 hover:text-white border hover:border-gray-100"><i data-feather="user-plus" class="h-4 w-4"></i></span></div>
                </a>
            </li>
        {% endif %}
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-light">
            {% if navbars|length > 0 %}
                {% for navbar in navbars %}
                    <li><a href="{{ path(navbar.path) }}" class="sub-menu-item">{{ navbar.name }}</a></li>
                {% endfor %}
            {% endif %}
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->