{% extends 'base.html.twig' %}

{% block title %}Tech talent Hub - Connexion
{% endblock %}

{% block body %}
<section class="md:h-screen py-36 flex items-center banner-login">
    <div class="absolute inset-0 bg-black opacity-80"></div>
	<div class="container relative">
		<div class="flex justify-center">
			<div class="max-w-[400px] w-full m-auto p-6 bg-white shadow-md rounded-md">
				<a href="{{ path('app_home_index') }}"><img src="{{ asset('images/logo/logo-tech-talent-hub-light.png') }}" class="mx-auto" alt="Logo du site Tech talent Hub"></a>
				<h1 class="my-6 text-xl font-semibold">Connexion</h1>
				<form name="login" method="post" class="text-start">

				{% if error %}
					<div class="relative px-4 py-2 rounded-md font-medium bg-red-600/10 border border-red-600/10 text-red-600 block error login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

					<div class="grid grid-cols-1">
						<div class="mb-4">
							<label class="font-semibold" for="inputEmail">Email :</label>
							<input value="{{ last_username }}" name="email" id="inputEmail" type="email" class="form-input mt-3 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-200 focus:border-indigo-600 focus:ring-0" placeholder="name@example.com">
						</div>

						<div class="mb-4">
							<label class="font-semibold" for="inputPassword">Mot de Passe:</label>
							<input type="password" name="password" id="inputPassword" class="form-input mt-3 w-full py-2 px-3 h-10 bg-transparent rounded outline-none border border-gray-200 focus:border-indigo-600 focus:ring-0" placeholder="indiquez votre mot de passe">
						</div>

						<div class="flex justify-between mb-4">
							<div class="flex items-center mb-0">
								<input class="form-checkbox rounded border-gray-400 text-indigo-600 focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50 me-2" type="checkbox" value="" id="RememberMe">
								<label class="form-checkbox-label text-slate-400" for="RememberMe">Se souvenir de moi</label>
							</div>
							<p class="text-slate-400 mb-0"><a href="{{ path('app_forgot_password') }}" class="text-black font-bold inline-block">Mot de passe oublié ?</a></p>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<div class="mb-4">
							<button type="submit" class="py-2 px-5 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 hover:cursor-pointer text-white rounded-md w-full">Connexion</button>
						</div>

						<div class="text-center">
							<span class="text-slate-400 me-2">Pas encore de compte ?</span> <a href="{{ path('app_register') }}" class="text-black font-bold inline-block">S'enregistrer</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section><!--end section -->
{% endblock %}
