{% extends 'base.html.twig' %}

{% block title %}Tech talent Hub - Mot de Passe oublié
{% endblock %}

{% block body %}
<section class="md:h-screen py-36 flex items-center banner-reset-password">
    <div class="absolute inset-0 bg-black opacity-80"></div>
	<div class="container relative">
		<div class="flex justify-center">
			<div class="max-w-[400px] w-full m-auto p-6 bg-white shadow-md rounded-md">
				<a href="{{ path('app_home_index') }}"><img src="{{ asset('img/logo-tech-talent-hub-light.png') }}" class="mx-auto" alt="Logo du site Tech talent Hub"></a>
				<h1 class="my-6 text-xl font-semibold">Mot de Passe Oublié</h1>
				{{ form_start(ResetPasswordForm, {'attr': {'class': 'text-start form-error'}}) }}
                    {{ form_row(ResetPasswordForm.password) }}
                    <div class="mb-4">
                        <button type="submit" class="py-2 px-5 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md w-full">Modifier</button>
                    </div>
                {{ form_end(ResetPasswordForm)}}
			</div>
		</div>
	</div>
</section><!--end section -->
{% endblock %}
