{% extends 'base.html.twig' %}

{% block title %}Tech Talent Hub - Erreur
{% endblock %}

{% block body %}
    <!-- Start -->
    <section class="relative bg-indigo-600/5">
        <div class="container-fluid relative">
            <div class="grid grid-cols-1">
                <div class="flex flex-col min-h-screen justify-center md:px-10 py-10 px-4">
                    <div class="text-center">
                        <a href="{{ path('app_home_index') }}"><img src="{{ asset('images/logo/logo-tech-talent-hub-dark.png') }}" class="mx-auto" alt="Logo Tech Talent Hub"></a>
                    </div>
                    <div class="title-heading text-center my-auto">
                        <img src="{{ asset('images/error/error.png') }}" class="mx-auto" alt="Image d'erreur">
                        <h1 class="mt-3 mb-6 md:text-5xl text-3xl font-bold">Page Non Trouvée?</h1>
                        <p class="text-slate-400">Oups, c'est embarrassant. <br> Il semblerait que la page que vous recherchiez n'ait pas été trouvée.</p>
                        
                        <div class="mt-4">
                            <a href="{{ path('app_home_index') }}" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Accueil</a>
                        </div>
                    </div>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->
{% endblock %}