<form method="post" action="{{ path('app_admin_hardskill_delete', {'id': hardskill.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce Savoir Faire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hardskill.id) }}">
    {% include "components/admin/_admin_button_delete.html.twig" %}
</form>
