{% extends 'baseAdmin.html.twig' %}

{% block title %}Tech Talent Hub - Créer un nouveau Savoir Faire{% endblock %}

{% block body %}
    <!-- Start Content -->
    <div class="md:flex justify-between items-center">
        <h5 class="text-lg font-semibold">Créer un nouveau Savoir Faire</h5>
    </div>

    <div class="container relative mt-6">
        <div class="md:flex justify-center">
            <div class="lg:w-4/5 w-full">
                {% include 'pages/admin/hardskill/_form.html.twig' with {'button': 'Ajouter'} %}
                {% include 'components/admin/_admin_button_back.html.twig' with {
                    'href': path('app_admin_hardskill_index')
                } %}
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}
