{% extends 'base.html.twig' %}

{% block title %}HardSkill{% endblock %}

{% block body %}
    <h1>HardSkill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CreatedAt</td>
                <td>{{ hard_skill.createdAt ? hard_skill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</td>
                <td>{{ hard_skill.id }}</td>
            </tr>
            <tr>
                <th>Name</td>
                <td>{{ hard_skill.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hard_skill_index') }}">back to list</a>

    <a href="{{ path('app_hard_skill_edit', {'id': hard_skill.id}) }}">edit</a>

    {{ include('hard_skill/_delete_form.html.twig') }}
{% endblock %}
